{% extends 'nav.html'%}
{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/formularios.css')}}">
{% endblock %}
{% block titulo %}
<title>Planning Cross</title>
{% endblock %}
{% block body%}
    <div class="fondo"></div>
    <section>
        <form action="/a_p_xd" method="POST" >
            <h2 class="titulo">Panning | Cross Dock</h2>
            <label for="id_planing">ID Planning : <input type="text" name="id_planing"  required></label>
            <input type="submit" class="btn" name="enviar" value="enviar" >
        </form>
    </section>
{% endblock %}