{% extends 'nav.html'%}
{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/formularios.css')}}">
{% endblock %}
{% block titulo %}
<title>Recibo</title>
{% endblock %}
    {% block body%}
        <div class="fondo"></div>
        <section>
            <form action="/validacion_recibo" method="POST" >
                <h2 class="titulo">Entregas no efectivas</h2>
                <label for="prealertkey">Pre-alert Key: <input type="text" name="prealertkey"  required ></label>
                <input type="submit" class="btn" name="enviar" value="Continuar" >
            </form>
        </section>
{% endblock %}