{% extends 'nav.html'%}
{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/formularios.css')}}">
{% endblock %}
{% block titulo %}
<title>Recibo 3PL</title>
{% endblock %}
    {% block body%}
        <div class="fondo"></div>
        <section>
            <form action="/Recibocomercialcarrier" method="POST" >
                <h2 class="titulo">Recibo CC 3PL</h2>
                <label for="Paquetera">Paquetera: 
                    <select name="Paquetera" required>
                        <option value="Mercado Envíos">Mercado Envíos</option>
                        <option value="DHL">DHL</option>
                        <option value="Estafeta">Estafeta</option>
                        <option value="Paquetexpress">Paquetexpress</option>
                        <option value="FedEx">FedEx</option>
                        <option value="99 minutos">99 minutos</option>
                    </select>
                </label>
                <input type="submit" class="btn" name="enviar" value="Continuar" >
            </form>
        </section>
{% endblock %}