<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" href="{{url_for('static', filename='img/logo.icon')}}"> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/formularios.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@800&display=swap" rel="stylesheet">
    <title>Formulario</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages%}
    {%for message in messages%}
    <script>
        alert('{{message}}')
    </script>
    {%endfor%}
    {%endif%}
    {%endwith%}
    <div class="Nav_Bar">
        <button class="menu"><i class="fab fa-elementor"></i></button>
         <img src="{{url_for('static', filename='img/MercadoLibre_logo.png')}}" alt="Logotipo" class="img_logo">
        <span> {{Datos['FcName']}} : {{Datos['SiteName']}} </span>
    
    </div>
    <div class="nav_menu">
        <button class="accordion"><i class="fas fa-book"></i> formularios</button>
        <div class="panel">
        {%if Datos['Rango'] == 'Representante' and Datos['FcName'] == 'Fullfilment' or Datos['Rango'] == 'Auxiliar' and Datos['FcName'] == 'Fullfilment' or  Datos['Rango'] == 'Team Leader' and Datos['FcName'] == 'Fullfilment' or  Datos['Rango'] == 'Administrador'%}
            <button class="accordion">Fulfillment</button>
            <div class="panel">
                <a href='/f_e_f' class='link_menu'> Entradas</a>
                <a href='/f_s_f' class='link_menu'> Salidas</a>
                <a href='/f_r_f' class='link_menu'>  Recibo</a>
                <a href='/f_t_f' class='link_menu'>  Transfer</a>
                <a href='/f_p' class='link_menu'>  Prealert</a>
                <a href='/f_n_p' class='link_menu'>  No Prosesable</a>
                <a href='/f_a_o' class='link_menu'>  Actualizacion N/P</a>
                <a href='/f_p_f' class='link_menu'>  Planning</a>
            </div>
        {%endif%}
        {%if Datos['Rango'] == 'Representante' and Datos['FcName'] == 'Cross Dock' or Datos['Rango'] == 'Auxiliar' and Datos['FcName'] == 'Cross Dock' or  Datos['Rango'] == 'Team Leader' and Datos['FcName'] == 'Cross Dock' or  Datos['Rango'] == 'Administrador'%}
            <button class="accordion">Cross Dock</button>
            <div class="panel">
                <a href='/f_e_xd' class='link_menu'> Entradas</a>
                <a href='/f_s_xd' class='link_menu'>  Salidas</a>
                <a href='/f_p' class='link_menu'> Prealert</a>
                <a href='/f_p_xd' class='link_menu'>  Planning</a>
            </div>
        
        {%endif%}
        {% if Datos['Rango'] == 'Representante' and Datos['FcName'] == 'Service Center' or Datos['Rango'] == 'Auxiliar' and Datos['FcName'] == 'Service Center' or  Datos['Rango'] == 'Team Leader' and Datos['FcName'] == 'Service Center' or  Datos['Rango'] == 'Administrador'%}
            <button class="accordion">Service Center</button>
            <div class="panel">
                <a href='/f_e_s' class='link_menu'>  Entradas</a>
                <a href='/f_s_s' class='link_menu'> Salidas</a>
                <a href='/f_p' class='link_menu'>  Prealert</a>
            </div>
        {%endif%}
        {% if Datos['Rango'] == 'Planning' or  Datos['Rango'] == 'Administrador'%}
                <button class="accordion">Planning</button>
            <div class="panel">
                <a href='/f_planning' class='link_menu'> Planning</a>
            </div>
        {%endif%}
        </div>
        <button class="accordion"><i class='fas fa-edit'></i> Reportes</button>
        <div class="panel">
            {%if Datos['Rango'] == 'Representante' and Datos['FcName'] == 'Fullfilment' or Datos['Rango'] == 'Auxiliar' and Datos['FcName'] == 'Fullfilment' or  Datos['Rango'] == 'Team Leader' and Datos['FcName'] == 'Fullfilment' or  Datos['Rango'] == 'Administrador'%}
                <button class="accordion">Fulfillment</button>
                <div class="panel">
                    <a href='/t_e_f/0' class='link_menu'> Entradas</a>
                    <a href='/t_s_f/0' class='link_menu'> Salidas</a>
                    <a href='/t_r_f/0' class='link_menu'>  Recibo</a>
                    <a href='/t_t_f/0' class='link_menu'>  Transfer</a>
                    <a href='/t_p/0' class='link_menu'>  Prealert</a>
                    <a href='/t_n_p/0' class='link_menu'>  No Prosesable</a>
                </div>
            {%endif%}
            {%if Datos['Rango'] == 'Representante' and Datos['FcName'] == 'Cross Dock' or Datos['Rango'] == 'Auxiliar' and Datos['FcName'] == 'Cross Dock' or  Datos['Rango'] == 'Team Leader' and Datos['FcName'] == 'Cross Dock' or  Datos['Rango'] == 'Administrador'%}
                <button class="accordion">Cross Dock</button>
                <div class="panel">
                    <a href='/t_e_xd/0' class='link_menu'>  Entradas</a>
                    <a href='/t_s_xd/0' class='link_menu'>  Salidas</a>
                    <a href='/t_p/0' class='link_menu'>  Prealert</a>
                </div>
            {%endif%}
            {% if Datos['Rango'] == 'Representante' and Datos['FcName'] == 'Service Center' or Datos['Rango'] == 'Auxiliar' and Datos['FcName'] == 'Service Center' or  Datos['Rango'] == 'Team Leader' and Datos['FcName'] == 'Service Center' or  Datos['Rango'] == 'Administrador'%}
                <button class="accordion">Service Center</button>
                <div class="panel">
                    <a href='/t_e_s/0' class='link_menu'>  Entradas</a>
                    <a href='/t_s_s/0' class='link_menu'>  Salidas</a>
                    <a href='/t_p/0' class='link_menu'> Prealert</a>
                </div>
            {%endif%}
            {% if Datos['Rango'] == 'Planning' or  Datos['Rango'] == 'Administrador'%}
                    <button class="accordion">Planning</button>
                <div class="panel">
                    <a href='/t_planning/0' class='link_menu'>  Planning</a>
                </div>
            {%endif%}
            </div>
        <button class="accordion"><i class="fas fa-chart-pie"></i> Dashboard</button>
        <div class="panel">
            {%if Datos['Rango'] == 'Representante' and Datos['FcName'] == 'Fullfilment' or Datos['Rango'] == 'Auxiliar' and Datos['FcName'] == 'Fullfilment' or  Datos['Rango'] == 'Team Leader' and Datos['FcName'] == 'Fullfilment' or  Datos['Rango'] == 'Administrador'%}
                <a href='/g_f' class='link_menu'> Fullfilment</a>
            {%endif%}
            {%if Datos['Rango'] == 'Representante' and Datos['FcName'] == 'Cross Dock' or Datos['Rango'] == 'Auxiliar' and Datos['FcName'] == 'Cross Dock' or  Datos['Rango'] == 'Team Leader' and Datos['FcName'] == 'Cross Dock' or  Datos['Rango'] == 'Administrador'%}
                <a href='/g_xd' class='link_menu'> Cross Dock</a>
            {%endif%}
            {% if Datos['Rango'] == 'Representante' and Datos['FcName'] == 'Service Center' or Datos['Rango'] == 'Auxiliar' and Datos['FcName'] == 'Service Center' or  Datos['Rango'] == 'Team Leader' and Datos['FcName'] == 'Service Center' or  Datos['Rango'] == 'Administrador'%}
                <a href='/g_s' class='link_menu'> Service Center</a>
            {%endif%}
            {% if Datos['Rango'] == 'Planning' or  Datos['Rango'] == 'Administrador'%}
                <a href='/g_p' class='link_menu'> Planning</a>
            {%endif%}
            </div>
            {% if Datos['Rango'] == 'Planning' or  Datos['Rango'] == 'Administrador'%}
                <a href='/registro' class='link_menu'><i class="fas fa-users"></i> Registro de Usuarios</a>
            {%endif%}
                <a href="/logout" class="link_menu" ><i class="fas fa-power-off"></i>  Cerar sesion</a>
    </div>
        <div class="fondo"></div>
        <section>
            <!-- <form action="/registro_fcs_recibo" method="POST" >
                <h2 class="titulo">Entregas no efectivas</h2>
                <hr>
                <label for="paquetera">Paquetera: </label>
                <select name="paquetera" required>
                    <option value="Mercado Envíos">Mercado Envíos</option>
                    <option value="DHL">DHL</option>
                    <option value="Estafeta">Estafeta</option>
                    <option value="Paquetexpress">Paquetexpress</option>
                    <option value="FedEx">FedEx</option>
                    <option value="99 minutos">99 minutos</option>
                </select>
                <label for="no_gia">No. de Guia: <input type="number" name="no_gia"   required></label>
                <label for="no_paquete">No. Paquete: <input type="number" name="no_paquete"  required ></label>
                <label for="tipo_paquete">Tipo de Paquete: </label>
                <select name="tipo_paquete" required>
                    <option value="Reotorno">Reotorno</option>
                    <option value="Devolcuión">Devolcuión</option>
                </select>
                <label for="estatus">Estatus: </label>
                <select name="estatus" required>
                    <option value="Aceptado">Aceptado</option>
                    <option value="Rechazado">Rechazado</option>
                </select>
                <label for="razon_rechazo">Razon de Rechazo: </label>
                <select name="razon_rechazo" required>
                    <option value="N/A">N/A</option>
                    <option value="Dañado">Dañado</option>
                    <option value="Extracción">Extracción</option>
                    <option value="Otro FC">Otro FC</option>
                    <option value="Drop off / cross dosck">Drop off / cross dosck</option>
                </select>
                <input type="submit" class="btn" name="enviar" value="enviar" >
            </form> -->
            <form action="/validacion_recibo" method="POST" >
                <h2 class="titulo">Entregas no efectivas</h2>
                <label for="Pallet">Pallet: <input type="number" name="no_paquete"  required ></label>
                <input type="submit" class="btn" name="enviar" value="Continuar" >
            </form>
        </section>
        <script src="{{url_for('static', filename='js/interfas.js')}}">
    </script>

</body>
</html>