{% extends 'nav.html'%}
{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/formularios.css')}}">
{% endblock %}
{% block titulo %}
<title>Rechazar</title>
{% endblock %}
{% block body%}
    <div class="fondo"></div>
        <section>
            <form action="/Rechazar/{{paquetera}}/{{orden}}/{{accion}}" method="POST" >
                <h2 class="comentario">Motivo del Rechazo</h2>
                <textarea name="comentario" ></textarea>
                <input type="submit" class="btn" name="enviar" value="Continuar" >
            </form>
        </section>
        <script src="{{url_for('static', filename='js/interfas.js')}}">
    </script>
{% endblock %}