{% extends 'nav.html'%}
{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/formularios.css')}}">
{% endblock %}
{% block titulo %}
<title>Actualizacion N/P</title>
{% endblock %}
{% block body%}
        <div class="fondo"></div>
        <section>
            <form action="/aplicarticket" method="POST" >
                <h2> Levantar Ticket</h2>
                    <label for="orden">Orden de compra</label>
                    <input type="number" name="orden" placeholder="Ingresa el numero de orden">
                <input type="submit" class="btn" name="enviar" value="enviar" >
            </form>
        </section>
{% endblock %}