<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" href="{{url_for('static', filename='img/logo.icon')}}"> 
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/actualizar.css')}}">
    <title>Registrar</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages%}
    {%for message in messages%}
        <script>
            alert('{{message}}')
        </script>
    {%endfor%}
    {%endif%}
    {%endwith%}
    <div class="Nav_Bar">
        <img src="{{url_for('static', filename='img/MercadoLibre_logo.png')}}" alt="Logotipo" class="img_logo">
        <span>{{Datos['FcName']}} : {{Datos['SiteName']}}</span>
    </div>
    <div class="container"> 
        <section>
            {%if Datos['Formulario'] == 'planning' and Datos['FcName'] == 'Cross Dock'%}
                <form action="/actualizar" method="post">
                    <h1> Planning | Cross Dock</h1>
                    <hr>
                    <label for="id">ID:
                        <select name="id">
                            <option value="{{Info[0][0]}}">
                                {{Info[0][0]}}
                            </option>
                        </select>
                    </label>
                    <h5>Fecha Agendada: {{Info[0][1]}}</h5>
                    <h5>Codigo SKU: {{Info[0][2]}}</h5>
                    <h5>Descripción: {{Info[0][3]}}</h5>
                    <h5>Piezas: {{Info[0][4]}}</h5>
                    <h5>Unidades: {{Info[0][5]}}</h5>
                    <h5>Datos De La Unidad:</h5>
                    <h5>{{Info[0][6]}}</h5>
                    <h5>Operador:</h5>
                    <h5>{{Info[0][7]}}</h5>
                    <h5>Origen: {{Info[0][8]}}</h5>
                    <h5>Destino: {{Info[0][9]}}</h5>
                    <label for="marchamo">
                        Marchamo #1: 
                        <input type="nomber" name="marchamo"  required>
                    </label>
                    <label for="marchamo2">
                        Marchamo #2: 
                        <input type="nomber" name="marchamo2"  required>
                    </label>
                    <input type="submit" class="btn" name="enviar" value="enviar" >
                </form>
            {%elif Datos['Formulario'] == 'planning' and Datos['FcName'] == 'Fullfilment'%}
            <form action="/actualizar" method="post">
                <h1> Planning | Fullfilment</h1>
                <hr>
                <label for="id">id:
                    <select name="id">
                        <option value="{{Info[0][0]}}">
                            {{Info[0][0]}}
                        </option>
                    </select>

                </label>
                <h5>Fecha Agendada: {{Info[0][1]}}</h5>
                <h5>Codigo SKU: {{Info[0][2]}}</h5>
                <h5>Descripción: {{Info[0][3]}}</h5>
                <h5>Piezas: {{Info[0][4]}}</h5>
                <h5>Unidades: {{Info[0][5]}}</h5>
                <h5>Datos De La Unidad:</h5>
                <h5>{{Info[0][6]}}</h5>
                <h5>Operador:</h5>
                <h5>{{Info[0][7]}}</h5>
                <h5>Origen: {{Info[0][8]}}</h5>
                <h5>Destino: {{Info[0][9]}}</h5>
                <h5>Marchamo #1: {{Info[0][14]}}</h5>
                <h5>Marchamo #2: {{Info[0][15]}}</h5>
                <input type="submit" class="btn" name="Recibir" value="enviar" >
            </form>
            {%elif Datos['Formulario'] == 'f_a_estatus' and Datos['FcName'] == 'Fullfilment'%}
            <form action="/actualizar" method="post">
                <h1> Actualizacion | Ordenes No procesables</h1>
                <hr>
                <label for="id_orden ">ID Orden:
                    <select name="id_orden">
                        <option value="{{Info[0][0]}}">
                            {{Info[0][0]}}
                        </option>
                    </select>
                </label>
                <h5>Usuario WMS: {{Info[0][1]}}</h5>
                <h5>Paquetera: {{Info[0][2]}}</h5>
                <h5>Orden: {{Info[0][3]}}</h5>
                <h5>Pallet: {{Info[0][4]}}</h5>
                <h5>Tipo: {{Info[0][5]}}</h5>
                <h5>Fulfillment origen: {{Info[0][6]}}</h5>
                <h5>estatus: {{Info[0][7]}}</h5>
                <h5>service_center: {{Info[0][8]}}</h5>
                <h5>region: {{Info[0][9]}}</h5>
                <h5>ticket: {{Info[0][10]}}</h5>
                <h5>fecha_ticket: {{Info[0][11]}}</h5>
                <label for="marchamo2">
                    Comentario: 
                    <input type="textarea" name="Comentario" value="{{Info[0][13]}}" required>
                </label>
                <h2>Cerrar Orden</h2>
                <input type="submit" class="btn" name="enviar" value="Confirmar Cierre" >
            </form>
            {%endif%}
        </section>
    </div>
</section>
</body>
</html>