<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" href="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.10.0/mercadolibre/favicon.svg">
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/actualizar.css')}}">
    <link href="//db.onlinewebfonts.com/c/69f1400361a215519d385199118a34aa?family=Harabara" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/nav.css')}}">
    <title>Confirmación</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages%}
    {%for message in messages%}
        <script>
            alert('{{message}}')
        </script>
    {%endfor%}
    {%endif%}
    {%endwith%}
    <nav class="nav-main">
        <img src="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.10.0/mercadolibre/favicon.svg" alt="" class="logo">
        <h1 class="text_logo"><b>mercado libre</b></h1>
     
    <div class="user_info">
        <p>Estas Viendo:{{Datos['SiteName']}} | {{Datos['UserName']}}</p>  
    </div>
    
    </nav>
    <div class="container"> 
        <section>
            <form action="/validacion_recibo" method="post">
                <h5>Te faltan {{faltante}} órdenes por escanear para finalizar tu pallet, deseas cerrarlo así?</h5>
                <input type="text" name="prealertkey" value="{{Datos['key_pa']}}">
                <input type="submit" class="btn" value="Continuar">
                <a href="/f_r_f" class="btn"> Cerrar</a>
                </label>
            </form>
        </section>
    </div>
</section>
</body>
</html>