{% extends 'nav.html'%}
{% block cabezera%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" href="{{url_for('static', filename='img/logo.icon')}}"> 
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@800&display=swap" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/69f1400361a215519d385199118a34aa?family=Harabara" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/nav.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Trackin.css')}}">
    <title>Track In Pre-Alert</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages%}
    {%for message in messages%}
        <script>
            alert('{{message}}')
        </script>
    {%endfor%}
    {%endif%}
    {%endwith%}
    {% endblock %}
    {% block body%}
    <div class="container"> 
        <section>
            <h1 class="Tituloprealert">Track In de Pre-Alert Key: {{Datos['key_pa']}}</h1>
            {%if Servicedata|length >0%}
            <div class="Service-valido">
            {%else%}
            <div class="Service-Invalido">
            {%endif%}
                <button class="accordion"><i class="fas fa-warehouse">   Service Center</i></button>
                    <div class="panel">
                    {%for Service in  Servicedata%}
                        <h4>{{Service.1}}</h4>
                    {%endfor%}
                    </div>
                </div>
            </div>
            {%if Crossdata|length >0%}
            <div class="Cross-valido">
            {%else%}
            <div class="Cross-Invalido">
            {%endif%}
                <button class="accordion"><i class="fas fa-sitemap">   Cross Dock</i></button>
                    <div class="panel">
                        {%for Cross in  Crossdata%}
                            <h4>Orden: {{Cross.2}} Paquetera</h4>
                        {%endfor%}
                    </div>
                </div>
            </div>
            {%if Fulldata|length >0%}
            <div class="Full-valido">
            {%else%}
            <div class="Full-Invalido">
            {%endif%}
                <button class="accordion"><i class="fas fa-boxes" >  Fullfilment</i></button>
                    <div class="panel">
                        {%for Full in  Fulldata%}
                            <li> Orden: {{Full.2}} Paquetera: {{Full.3}} Estatus: {{Full.4}} Comentarios: {{Full.5}}</h4>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="{{url_for('static', filename='js/interfas.js')}}">
</script>
</body>
</html>
{% endblock %}