{% extends 'nav.html'%}
{% block cabezera%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" href="{{url_for('static', filename='img/logo.icon')}}"> 
    <link href="//db.onlinewebfonts.com/c/69f1400361a215519d385199118a34aa?family=Harabara" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/nav.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Trackin.css')}}">
    <title>Track In Ordenes</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages%}
    {%for message in messages%}
        <script>
            alert('{{message}}')
        </script>
    {%endfor%}
    {%endif%}
    {%endwith%}
    {% endblock %}
    {% block body%}
    <div class="container"> 
        <section>
            <h1 class="Tituloprealert">Track In de la Orden: {{Orden}}</h1>
            {%if Servicedata|length >0%}
            <div class="Service-valido">
                <button class="accordion"><i class="fas fa-warehouse">   Service Center</i></button>
                <div class="panel">
                    <table>
                        <TR>
                            <TH></TH>
                            <TH></TH>
                            <TH></TH>
                            <TH></TH>
                            <TH></TH>
                            <TH></TH>
                        </TR>
                    {%for Service in  Servicedata%}
                     <TR>
                         <TD>{{Service.2}}</TD>
                         <TD>{{Service.3}}</TD>
                         <TD>{{Service.4}}</TD>
                         <TD>{{Service.5}}</TD>
                         <TD>{{Service.6}}</TD>
                    </TR>
                    {%endfor%}
                </table>
                </div>
            </div>
            {%else%}
            <div class="Service-Invalido">
                <button class="accordion"><i class="fas fa-warehouse">   Service Center</i></button>
                <div class="panel">
                
                    <h4>No se encontraron Registros</h4>
                </div>
            </div>
            {%endif%}
            {%if Crossdata|length >0%}
            <div class="Cross-valido">
                <button class="accordion"><i class="fas fa-sitemap">   Cross Dock</i></button>
                <div class="panel">
                    <table>
                        <TR>
                            <TH></TH>
                            <TH></TH>
                            <TH></TH>
                            <TH></TH>
                            <TH></TH>
                            <TH></TH>
                        </TR>
                    {%for reciboCross in  reciboCrossdata%}
                     <TR>
                         <TD>{{reciboCross.2}}</TD>
                         <TD>{{reciboCross.3}}</TD>
                         <TD>{{reciboCross.4}}</TD>
                         <TD>{{reciboCross.5}}</TD>
                         <TD>{{reciboCross.6}}</TD>
                    </TR>
                    {%endfor%}
                    {%for Cross in  Crossdata%}
                     <TR>
                         <TD>{{Cross.2}}</TD>
                         <TD>{{Cross.3}}</TD>
                         <TD>{{Cross.4}}</TD>
                         <TD>{{Cross.5}}</TD>
                         <TD>{{Cross.6}}</TD>
                    </TR>
                    {%endfor%}
                </table>
                </div>
            </div>
            {%else%}
            <div class="Cross-Invalido">
                <button class="accordion"><i class="fas fa-sitemap">  Cross Dock</i></button>
                <div class="panel">
                    <h4>No se encontraron Registros</h4>
                </div>
            </div>
            {%endif%}
            {%if Fulldata|length >0%}
            <div class="Full-valido">
                <button class="accordion"><i class="fas fa-boxes" >  Fullfilment</i></button>
                <div class="panel">
                    <table>
                        <TR>
                            <TH></TH>
                            <TH></TH>
                            <TH></TH>
                            <TH></TH>
                            <TH></TH>
                            <TH></TH>
                        </TR>
                    {%for Full in  Fulldata%}
                     <TR>
                         <TD>{{Full.2}}</TD>
                         <TD>{{Full.3}}</TD>
                         <TD>{{Full.4}}</TD>
                         <TD>{{Full.5}}</TD>
                         <TD>{{Full.6}}</TD>
                    </TR>
                    {%endfor%}
                </table>
                </div>
            </div>
            {%else%}
            <div class="Full-Invalido">
                <button class="accordion"><i class="fas fa-boxes" >  Fullfilment</i></button>
                <div class="panel">
                    <h4>No se encontraron Registros</h4>
                </div>
            </div>
            {%endif%}
        </section>
    </div>
    <script src="{{url_for('static', filename='js/interfas.js')}}">
</script>
</body>
</html>
{% endblock %}