{% extends 'nav.html'%}
{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/reportes.css')}}">
{% endblock %}
{% block titulo %}
<title>Reporte Planeación</title>
{% endblock %}

{% block body%}
    <div class="filtros">
        <form action="/t_planning/0" method="post" class="form_filtros">
            <select name="filtro">
                <option value="id_planing">ID</option>
                <option value="codigo_sku">Codigo Sku</option>
                <option value="descripción">Descripción</option>
                <option value="datos_de_la_unidad">Datos de la Unidad</option>
                <option value="operador">Operador</option>
                <option value="origen">Origen</option>
                <option value="destino">Destino</option>
                <option value="reponsable">Reponsable</option>
                <option value="status">Estatus</option>
            </select>
            <input autocomplete="off" type="text" name="valor">
            <label for="datefilter">Fecha: </label>
            <input autocomplete="off" type="text" name="datefilter" value="" />
            </label>
            <input type="submit" value="Buscar">
        </form>
        <a href="/csvplaneacion" target="_blank" class="download_csv"><i class="fas fa-file-download"></i>  Descargar</a>
    </div>
        <div class="fondo">
        <section>
            <table>
                <thead >
                    <tr class="head">
                        <th> ID </th>
                        <th> Fecha agendada </th>
                        <th> Codigo SKU </th>
                        <th> Descripción </th>
                        <th> Piezas </th>
                        <th> Unidades </th>
                        <th> Datos de la Unidad </th>
                        <th> Operador </th>
                        <th> Origen </th>
                        <th> Destino </th>
                        <th> Responsable </th>
                        <th> Estatus </th>
                    </tr>
                </thead>
                <tbody>
                    {%for Info in  Infos%}
                    <tr>
                        <td>{{Info.0}}</td>
                        <td>{{Info.1}}</td>
                        <td>{{Info.2}}</td>
                        <td>{{Info.3}}</td>
                        <td>{{Info.4}}</td>
                        <td>{{Info.5}}</td>
                        <td>{{Info.6}}</td>
                        <td>{{Info.7}}</td>
                        <td>{{Info.8}}</td>
                        <td>{{Info.9}}</td>
                        <td>{{Info.10}}</td>
                        <td>{{Info.11}}</td>
                    </tr>
                    {%endfor%}
                    <tr class="Pag">
                        <td colspan="12" class="Pag">
                            {%set row= Datos['rowi_prealert'] |int%}
                            {%if row==0%}
                            <a href="/t_planning/0" class="after">
                                <i class="fas fa-angle-double-left">
                                </i>
                            </a>
                            {%else%}
                            {%set rowMenos=row-50 | int%}
                            <a href="/t_planning/{{rowMenos}}" class="after">
                                <i class="fas fa-angle-double-left">
                                </i>
                            </a>
                            {%endif%}
                            {%set rowMas=row+50 | int%}
                            <a href="/t_planning/0" class="in"> 1 </a>
                            <a href="/t_planning/50" class="in"> 2 </a>
                            <a href="/t_planning/100" class="in"> 3 </a>
                            <a href="/t_planning/150" class="in"> 4 </a>
                            <a href="/t_planning/200" class="in"> 5 </a>
                            <a href="/t_planning/250" class="in"> 6 </a>
                            <a href="/t_planning/300" class="in"> 7 </a>
                            <a href="/t_planning/350" class="in"> 8 </a>
                            <a href="/t_planning/400" class="in"> 9 </a>
                            <a href="/t_planning/450" class="in"> 10 </a>
                            <a href="/t_planning/{{rowMas}}" class="before">
                                <i class="fas fa-angle-double-right">
                                </i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    <script type="text/javascript">
        $(function() {
          $('input[name="datefilter"]').daterangepicker({
              autoUpdateInput: false,
              locale: {
                  cancelLabel: 'Clear'
              }
          });
        
          $('input[name="datefilter"]').on('apply.daterangepicker', function(ev, picker) {
              $(this).val(picker.startDate.format('YYYY/MM/DD') + ' - ' + picker.endDate.format('YYYY/MM/DD'));
          });
        
          $('input[name="datefilter"]').on('cancel.daterangepicker', function(ev, picker) {
              $(this).val('');
          });
        
        });
        </script>
{% endblock %}