{% extends 'nav.html'%}
{% block cabezera%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" href="{{url_for('static', filename='img/logo.icon')}}"> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/reportes.css')}}">
    <link href="//db.onlinewebfonts.com/c/69f1400361a215519d385199118a34aa?family=Harabara" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/nav.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@800&display=swap" rel="stylesheet">
    <title>Reporte Planeacion</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages%}
    {%for message in messages%}
    <script>
        alert('{{message}}')
    </script>
    {%endfor%}
    {%endif%}
    {%endwith%}
    {% endblock %}
    {% block body%}
    <div class="filtros">
        <form action="/t_planning/0" method="post" class="form_filtros">
            <select name="filtro">
                <option value="id_planing">ID</option>
                <option value="codigo_sku">Codigo Sku</option>
                <option value="descripción">Descripción</option>
                <option value="datos_de_la_unidad">Datos de la Unidad</option>
                <option value="operador">Operador</option>
                <option value="origen">Origen</option>
                <option value="destino">Destino</option>
                <option value="reponsable">Reponsable</option>
                <option value="status">Estatus</option>
            </select>
            <input type="text" name="valor">
            <label for="inicio"> De:  
                <input type="date" name="inicio" id="inicio">
            </label>
            <label for="fin">a:  
                <input type="date" name="fin" id="fin">
            </label>
            <input type="submit" value="Buscar">
        </form>
    </div>
        <div class="fondo">
        <section>
            <table>
                <thead>
                    <tr>
                        <th> ID </th>
                        <th> Fecha agendada </th>
                        <th> Codigo SKU </th>
                        <th> Descripción </th>
                        <th> Piezas </th>
                        <th> Unidades </th>
                        <th> Datos de la Unidad </th>
                        <th> Operador </th>
                        <th> Origen </th>
                        <th> Destino </th>
                        <th> Responsable </th>
                        <th> Estatus </th>
                        {%if Datos['Rango']=='Administrador'%}
                        <th> Editar </th>
                        {%endif%}
                    </tr>
                </thead>
                <tbody>
                    {%for Info in  Infos%}
                    <tr>
                        <td>{{Info.0}}</td>
                        <td>{{Info.1}}</td>
                        <td>{{Info.2}}</td>
                        <td>{{Info.3}}</td>
                        <td>{{Info.4}}</td>
                        <td>{{Info.5}}</td>
                        <td>{{Info.6}}</td>
                        <td>{{Info.7}}</td>
                        <td>{{Info.8}}</td>
                        <td>{{Info.9}}</td>
                        <td>{{Info.10}}</td>
                        <td>{{Info.11}}</td>
                    </tr>
                    {%endfor%}
                    <tr>
                        <td colspan="12" class="Pag">
                            {%set row= Datos['rowi_t_planning'] |int%}
                            {%if row==0%}
                            <a href="/t_planning/0" class="after">
                                <i class="fas fa-angle-double-left">
                                </i>
                            </a>
                            {%else%}
                            {%set rowMenos=row-50 | int%}
                            <a href="/t_planning/{{rowMenos}}" class="after">
                                <i class="fas fa-angle-double-left">
                                </i>
                            </a>
                            {%endif%}
                            {%set rowMas=row+50 | int%}
                            <a href="/t_planning/{{rowMas}}" class="before">
                                <i class="fas fa-angle-double-right">
                                </i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    <script src="{{url_for('static', filename='js/interfas.js')}}">
    </script>
</body>
</html>
{% endblock %}