<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" href="{{url_for('static', filename='img/logo.icon')}}"> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/reportes.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@800&display=swap" rel="stylesheet">
    <title>Formulario</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages%}
    {%for message in messages%}
    <script>
        alert('{{message}}')
    </script>
    {%endfor%}
    {%endif%}
    {%endwith%}
    <div class="Nav_Bar">
        <button class="menu"><i class="fab fa-elementor"></i></button>
         <img src="{{url_for('static', filename='img/MercadoLibre_logo.png')}}" alt="Logotipo" class="img_logo">
        <span>{{Datos['FcName']}} : {{Datos['SiteName']}}</span>
    </div>
    <div class="nav_menu">
        <button class="accordion"><i class="fas fa-book"></i> formularios</button>
        <div class="panel">
        {%if Datos['Rango'] == 'Representante' and Datos['FcName'] == 'Fullfilment' or Datos['Rango'] == 'Auxiliar' and Datos['FcName'] == 'Fullfilment' or  Datos['Rango'] == 'Team Leader' and Datos['FcName'] == 'Fullfilment' or  Datos['Rango'] == 'Administrador'%}
            <button class="accordion">Fulfillment</button>
            <div class="panel">
                <a href='/f_e_f' class='link_menu'> Entradas</a>
                <a href='/f_s_f' class='link_menu'> Salidas</a>
                <a href='/f_r_f' class='link_menu'>  Recibo</a>
                <a href='/f_t_f' class='link_menu'>  Transfer</a>
                <a href='/f_p' class='link_menu'>  Prealert</a>
                <a href='/f_n_p' class='link_menu'>  No Prosesable</a>
                <a href='/f_a_o' class='link_menu'>  Actualizacion N/P</a>
                <a href='/f_p_f' class='link_menu'>  Planning</a>
            </div>
        {%endif%}
        {%if Datos['Rango'] == 'Representante' and Datos['FcName'] == 'Cross Dock' or Datos['Rango'] == 'Auxiliar' and Datos['FcName'] == 'Cross Dock' or  Datos['Rango'] == 'Team Leader' and Datos['FcName'] == 'Cross Dock' or  Datos['Rango'] == 'Administrador'%}
            <button class="accordion">Cross Dock</button>
            <div class="panel">
                <a href='/f_e_xd' class='link_menu'> Entradas</a>
                <a href='/f_s_xd' class='link_menu'>  Salidas</a>
                <a href='/f_p' class='link_menu'> Prealert</a>
                <a href='/f_p_xd' class='link_menu'>  Planning</a>
            </div>
        
        {%endif%}
        {% if Datos['Rango'] == 'Representante' and Datos['FcName'] == 'Service Center' or Datos['Rango'] == 'Auxiliar' and Datos['FcName'] == 'Service Center' or  Datos['Rango'] == 'Team Leader' and Datos['FcName'] == 'Service Center' or  Datos['Rango'] == 'Administrador'%}
            <button class="accordion">Service Center</button>
            <div class="panel">
                <a href='/f_e_s' class='link_menu'>  Entradas</a>
                <a href='/f_s_s' class='link_menu'> Salidas</a>
                <a href='/f_p' class='link_menu'>  Prealert</a>
            </div>
        {%endif%}
        {% if Datos['Rango'] == 'Planning' or  Datos['Rango'] == 'Administrador'%}
                <button class="accordion">Planning</button>
            <div class="panel">
                <a href='/f_planning' class='link_menu'> Planning</a>
            </div>
        {%endif%}
        </div>
        <button class="accordion"><i class='fas fa-edit'></i> Reportes</button>
        <div class="panel">
            {%if Datos['Rango'] == 'Representante' and Datos['FcName'] == 'Fullfilment' or Datos['Rango'] == 'Auxiliar' and Datos['FcName'] == 'Fullfilment' or  Datos['Rango'] == 'Team Leader' and Datos['FcName'] == 'Fullfilment' or  Datos['Rango'] == 'Administrador'%}
                <button class="accordion">Fulfillment</button>
                <div class="panel">
                    <a href='/t_e_f/0' class='link_menu'> Entradas</a>
                    <a href='/t_s_f/0' class='link_menu'> Salidas</a>
                    <a href='/t_r_f/0' class='link_menu'>  Recibo</a>
                    <a href='/t_t_f/0' class='link_menu'>  Transfer</a>
                    <a href='/t_p/0' class='link_menu'>  Prealert</a>
                    <a href='/t_n_p/0' class='link_menu'>  No Prosesable</a>
                </div>
            {%endif%}
            {%if Datos['Rango'] == 'Representante' and Datos['FcName'] == 'Cross Dock' or Datos['Rango'] == 'Auxiliar' and Datos['FcName'] == 'Cross Dock' or  Datos['Rango'] == 'Team Leader' and Datos['FcName'] == 'Cross Dock' or  Datos['Rango'] == 'Administrador'%}
                <button class="accordion">Cross Dock</button>
                <div class="panel">
                    <a href='/t_e_xd/0' class='link_menu'>  Entradas</a>
                    <a href='/t_s_xd/0' class='link_menu'>  Salidas</a>
                    <a href='/t_p/0' class='link_menu'>  Prealert</a>
                </div>
            {%endif%}
            {% if Datos['Rango'] == 'Representante' and Datos['FcName'] == 'Service Center' or Datos['Rango'] == 'Auxiliar' and Datos['FcName'] == 'Service Center' or  Datos['Rango'] == 'Team Leader' and Datos['FcName'] == 'Service Center' or  Datos['Rango'] == 'Administrador'%}
                <button class="accordion">Service Center</button>
                <div class="panel">
                    <a href='/t_e_s/0' class='link_menu'>  Entradas</a>
                    <a href='/t_s_s/0' class='link_menu'>  Salidas</a>
                    <a href='/t_p/0' class='link_menu'> Prealert</a>
                </div>
            {%endif%}
            {% if Datos['Rango'] == 'Planning' or  Datos['Rango'] == 'Administrador'%}
                    <button class="accordion">Planning</button>
                <div class="panel">
                    <a href='/t_planning/0' class='link_menu'>  Planning</a>
                </div>
            {%endif%}
            </div>
        <button class="accordion"><i class="fas fa-chart-pie"></i> Dashboard</button>
        <div class="panel">
            {%if Datos['Rango'] == 'Representante' and Datos['FcName'] == 'Fullfilment' or Datos['Rango'] == 'Auxiliar' and Datos['FcName'] == 'Fullfilment' or  Datos['Rango'] == 'Team Leader' and Datos['FcName'] == 'Fullfilment' or  Datos['Rango'] == 'Administrador'%}
                <a href='/g_f' class='link_menu'> Fullfilment</a>
            {%endif%}
            {%if Datos['Rango'] == 'Representante' and Datos['FcName'] == 'Cross Dock' or Datos['Rango'] == 'Auxiliar' and Datos['FcName'] == 'Cross Dock' or  Datos['Rango'] == 'Team Leader' and Datos['FcName'] == 'Cross Dock' or  Datos['Rango'] == 'Administrador'%}
                <a href='/g_xd' class='link_menu'> Cross Dock</a>
            {%endif%}
            {% if Datos['Rango'] == 'Representante' and Datos['FcName'] == 'Service Center' or Datos['Rango'] == 'Auxiliar' and Datos['FcName'] == 'Service Center' or  Datos['Rango'] == 'Team Leader' and Datos['FcName'] == 'Service Center' or  Datos['Rango'] == 'Administrador'%}
                <a href='/g_s' class='link_menu'> Service Center</a>
            {%endif%}
            {% if Datos['Rango'] == 'Planning' or  Datos['Rango'] == 'Administrador'%}
                <a href='/g_p' class='link_menu'> Planning</a>
            {%endif%}
            </div>
            {% if Datos['Rango'] == 'Planning' or  Datos['Rango'] == 'Administrador'%}
                <a href='/registro' class='link_menu'><i class="fas fa-users"></i> Registro de Usuarios</a>
            {%endif%}
                <a href="/logout" class="link_menu" ><i class="fas fa-power-off"></i>  Cerar sesion</a>
    </div>
    <div class="filtros">
        <form action="/t_r_f/0" method="post" class="form_filtros">
            <select name="filtro">
                <option value="id_recibo">ID</option>
                <option value="Fulfillment">Fulfillment</option>
                <option value="responsable">Responsable</option>
                <option value="paquetera">Paquetera</option>
                <option value="no_gia"># de Gia</option>
                <option value="no_paquete"># de Paquete</option>
                <option value="tipo_paquete">Tipo Paquete</option>
                <option value="estatus">Estatus</option>
                <option value="razon_rechazo">Razon Rechazo</option>
            </select>
            <input type="text" name="valor">
            <label for="inicio"> De:  
                <input type="date" name="inicio" id="inicio">
            </label>
            <label for="fin">a:  
                <input type="date" name="fin" id="fin">
            </label>
            <input type="submit" value="Buscar">
        </form> 
    </div>
        <div class="fondo">
        <section>
            <table>
                <thead>
                    <tr>
                        <th> ID </th>
                        <th> Fulfillment </th>
                        <th> Responsable </th>
                        <th> Paquetera </th>
                        <th> # de Gia </th>
                        <th> # de Paquete </th>
                        <th> Tipo Paquete </th>
                        <th> Estatus </th>
                        <th> Razon Rechazo </th>
                        <th> Fecha Y Hora </th>
                        {%if Datos['Rango']=='Administrador'%}
                        <th> Editar </th>
                        {%endif%}
                    </tr>
                </thead>
                <tbody>
                    {%for Info in  Infos%}
                    <tr>
                        <td>{{Info.0}}</td>
                        <td>{{Info.1}}</td>
                        <td>{{Info.2}}</td>
                        <td>{{Info.3}}</td>
                        <td>{{Info.4}}</td>
                        <td>{{Info.5}}</td>
                        <td>{{Info.6}}</td>
                        <td>{{Info.7}}</td>
                        <td>{{Info.8}}</td>
                        <td>{{Info.9}}</td>
                        {%if Datos['Rango']=='Administrador'%}
                        <td>
                            <a href="/edit/{{Info.0}}" class="edit"><i class="fas fa-edit"></i></a>
                            <a href="/delete/{{Info.0}}"class="delete"><i class="fas fa-trash-alt"></i></a>
                        </td>
                        {%endif%}
                    </tr>
                    {%endfor%}
                    <tr>
                        {%if Datos['Rango']=='Administrador'%}
                        <td colspan="11" class="Pag">
                            {%set row= Datos['rowi'] |int%}
                            {%if row==0%}
                            <a href="/t_r_f/0" class="after">
                                <i class="fas fa-angle-double-left">
                                </i>
                            </a>
                            {%else%}
                            {%set rowMenos=row-50 | int%}
                            <a href="/t_r_f/{{rowMenos}}" class="after">
                                <i class="fas fa-angle-double-left">
                                </i>
                            </a>
                            {%endif%}
                            {%set rowMas=row+50 | int%}
                            <a href="/t_r_f/{{rowMas}}" class="before">
                                <i class="fas fa-angle-double-right">
                                </i>
                            </a>
                        </td>
                        {%else%}
                        <td colspan="10" class="Pag">
                            {%set row= Datos['rowi'] |int%}
                            {%if row==0%}
                            <a href="/t_r_f/0" class="after">
                                <i class="fas fa-angle-double-left">
                                </i>
                            </a>
                            {%else%}
                            {%set rowMenos=row-50 | int%}
                            <a href="/t_r_f/{{rowMenos}}" class="after">
                                <i class="fas fa-angle-double-left">
                                </i>
                            </a>
                            {%endif%}
                            {%set rowMas=row+50 | int%}
                            <a href="/t_r_f/{{rowMas}}" class="before">
                                <i class="fas fa-angle-double-right">
                                </i>
                            </a>
                        </td>
                        {%endif%}
                    </tr>
                </tbody>
            </table>    
        </section>
    </div>
    <script src="{{url_for('static', filename='js/interfas.js')}}">
    </script>
</body>
</html>