{% extends 'nav.html'%}
{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/reportes.css')}}">
{% endblock %}
{% block titulo %}
<title>Reporte Recibo ful</title>
{% endblock %}

{% block body%}
    <div class="filtros">
        <form action="/t_r_f/0" method="post" class="form_filtros">
            <select name="filtro">
                <option value="id_recibo">ID</option>
                <option value="ID_Envio_Prealert">Prealert</option>
                <option value="Orden">Orden</option>
                <option value="status">status</option>
                <option value="Comentario">Comentario</option>
                <option value="Facility">Facility</option>
                <option value="SiteName">SiteName</option>
                <option value="Responsable">Responsable</option>
            </select>
            <input autocomplete="off" type="text" name="valor">
            <label for="datefilter">Fecha: </label>
            <input autocomplete="off" type="text" name="datefilter" value="" />
            </label>
            <input type="submit" value="Buscar">
        </form>
        <a href="/csvr_f" target="_blank" class="download_csv"><i class="fas fa-file-download"></i>  Descargar</a>
    </div>
        <div class="fondo">
        <section>
            <table>
                <thead >
                    <tr class="head">
                        <th> ID </th>
                        <th> Pre-Alert Key </th>
                        <th> Orden </th>
                        <th> Paquetera </th>
                        <th> Estatus </th>
                        <th> Comentario </th>
                        <th> Site  </th>
                        <th> Responsable </th>
                        <th> Fecha Y Hora </th>
                    </tr>
                </thead>
                <tbody>
                    {%for Info in  Infos%}
                    <tr>
                        <td>{{Info.0}}</td>
                        <td>{{Info.1}}</td>
                        <td>{{Info.2}}</td>
                        <td>{{Info.3}}</td>
                        <td>{{Info.4}}</td>
                        <td>{{Info.5}}</td>
                        <td>{{Info.7}}</td>
                        <td>{{Info.8}}</td>
                        <td>{{Info.9}}</td>
                    </tr>
                    {%endfor%}
                    <tr class="Pag">
                        <td colspan="10" class="Pag">
                            {%set row= Datos['rowi_t_r_f'] |int%}
                            {%if row==0%}
                            <a href="/t_r_f/0" class="after">
                                <i class="fas fa-angle-double-left">
                                </i>
                            </a>
                            {%else%}
                            {%set rowMenos=row-50 | int%}
                            <a href="/t_r_f/{{rowMenos}}" class="after">
                                <i class="fas fa-angle-double-left">
                                </i>
                            </a>
                            {%endif%}
                            {%set rowMas=row+50 | int%}
                            <a href="/t_r_f/0" class="in"> 1 </a>
                            <a href="/t_r_f/50" class="in"> 2 </a>
                            <a href="/t_r_f/100" class="in"> 3 </a>
                            <a href="/t_r_f/150" class="in"> 4 </a>
                            <a href="/t_r_f/200" class="in"> 5 </a>
                            <a href="/t_r_f/250" class="in"> 6 </a>
                            <a href="/t_r_f/300" class="in"> 7 </a>
                            <a href="/t_r_f/350" class="in"> 8 </a>
                            <a href="/t_r_f/400" class="in"> 9 </a>
                            <a href="/t_r_f/450" class="in"> 10 </a>
                            <a href="/t_r_f/{{rowMas}}" class="before">
                                <i class="fas fa-angle-double-right">
                                </i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    <script type="text/javascript">
        $(function() {
          $('input[name="datefilter"]').daterangepicker({
              autoUpdateInput: false,
              locale: {
                  cancelLabel: 'Clear'
              }
          });
        
          $('input[name="datefilter"]').on('apply.daterangepicker', function(ev, picker) {
              $(this).val(picker.startDate.format('YYYY/MM/DD') + ' - ' + picker.endDate.format('YYYY/MM/DD'));
          });
        
          $('input[name="datefilter"]').on('cancel.daterangepicker', function(ev, picker) {
              $(this).val('');
          });
        
        });
        </script>
{% endblock %}