{% extends 'nav.html'%}
{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/reportes.css')}}">
{% endblock %}
{% block titulo %}
<title>Salida Insumo</title>
{% endblock %}

{% block body%}
    <div class="filtros">
        <form action="/t_s_s/0" method="post" class="form_filtros">
            <select name="filtro">
                <option value="ID_S_svcs">ID</option>
                <option value="Centro_de_trabajo_donde_te_encuentras">Service Center</option>
                <option value="Cross_Dock">Cross Dock</option>
                <option value="Responsable">Responsable</option>
            </select>
            <input autocomplete="off" type="text" name="valor">
            <label for="datefilter">Fecha: </label>
            <input autocomplete="off" type="text" name="datefilter" value="" />
            </label>
            <input type="submit" value="Buscar">
        </form>
        <a href="/csvs_s" target="_blank" class="download_csv"><i class="fas fa-file-download"></i>  Descargar</a>
    </div>
        <div class="fondo">
        <section>
            <table>
                <thead >
                    <tr class="head">
                        <th> ID </th>
                        <th> Service Center </th>
                        <th> Tarimas </th>
                        <th> Gaylords </th>
                        <th> Cajas </th>
                        <th> Costales </th>
                        <th> Cross Dock </th>
                        <th> Responsable </th>
                        <th> Fecha Y Hora </th>
                    </tr>
                </thead>
                <tbody>
                    {%for Info in  Infos%}
                    <tr>
                        <td>{{Info.0}}</td>
                        <td>{{Info.1}}</td>
                        <td>{{Info.2}}</td>
                        <td>{{Info.3}}</td>
                        <td>{{Info.4}}</td>
                        <td>{{Info.5}}</td>
                        <td>{{Info.6}}</td>
                        <td>{{Info.7}}</td>
                        <td>{{Info.9}}</td>
                    </tr>
                    {%endfor%}
                    <tr class="Pag">
                        <td colspan="9" class="Pag">
                            {%set row= Datos['rowi_t_s_s'] |int%}
                            {%if row==0%}
                            <a href="/t_s_s/0" class="after">
                                <i class="fas fa-angle-double-left">
                                </i>
                            </a>
                            {%else%}
                            {%set rowMenos=row-50 | int%}
                            <a href="/t_s_s/{{rowMenos}}" class="after">
                                <i class="fas fa-angle-double-left">
                                </i>
                            </a>
                            {%endif%}
                            {%set rowMas=row+50 | int%}
                            <a href="/t_s_s/0" class="in"> 1 </a>
                            <a href="/t_s_s/50" class="in"> 2 </a>
                            <a href="/t_s_s/100" class="in"> 3 </a>
                            <a href="/t_s_s/150" class="in"> 4 </a>
                            <a href="/t_s_s/200" class="in"> 5 </a>
                            <a href="/t_s_s/250" class="in"> 6 </a>
                            <a href="/t_s_s/300" class="in"> 7 </a>
                            <a href="/t_s_s/350" class="in"> 8 </a>
                            <a href="/t_s_s/400" class="in"> 9 </a>
                            <a href="/t_s_s/450" class="in"> 10 </a>
                            <a href="/t_s_s/{{rowMas}}" class="before">
                                <i class="fas fa-angle-double-right">
                                </i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    <script type="text/javascript">
        $(function() {
          $('input[name="datefilter"]').daterangepicker({
              autoUpdateInput: false,
              locale: {
                  cancelLabel: 'Clear'
              }
          });
        
          $('input[name="datefilter"]').on('apply.daterangepicker', function(ev, picker) {
              $(this).val(picker.startDate.format('YYYY/MM/DD') + ' - ' + picker.endDate.format('YYYY/MM/DD'));
          });
        
          $('input[name="datefilter"]').on('cancel.daterangepicker', function(ev, picker) {
              $(this).val('');
          });
        
        });
        </script>
{% endblock %}