*{
    margin: 0;
    padding: 0;
}
body{
    background: #eee;
}
img{
    width: 17vh;
    padding: 1vh 0;
}
.Nav_Bar{
    background: #fff159;
    color: #2f3476;
    display: flex;
    border-bottom: 1px solid #2f3476;
}

.Nav_Bar button{
    box-decoration-break: none;
    background: none;
    width: 6vh;
    border: none;
}
.Nav_Bar button i{
    font-size: 5vh;
    background: none;
    color: #2f3476;
}

.Nav_Bar span{
    margin: auto  2vh auto auto ;
    color:#fff;
    background: #2f3476;
    padding: 0.25vh;
    border-radius: 5px;
}

.Nav_Bar select{
   padding: 0.25vh 0;
   margin: auto 2VH auto 0VH;
   font-size: 1.5VH;
   border-radius: 5PX;
}
.Nav_Bar input{
    background: #2f3476;
    color: #fff159;
    padding: 0.25vh 0 ;
    margin: 1vh 2VH 1vh 0VH;
    align-items: center;
    font-size: 1.5VH;
    border-radius: 5PX;
 }
 div.filtros{
    background: #eee;
    padding: 1vh 0;
    border:none;
    border-collapse: collapse;

}
.filtros form{
    display: inline;
    margin-left: 2vh;
    border:none;
    background-color: #fff;
    padding: 0.5VH;
    border: 1px solid #2f3476;
    border-radius: 15px;
}
.filtros form select,
.filtros form input{
    box-decoration-break: None;
    background: none;
    border: none;
    font-size: 2vh;
}
.filtros form input:focus{
    text-align: center;
    outline:none;
}
 .nav_menu{
    display: block;
    flex-direction: column;        
    width: 20vh;
    position: absolute;
    background: #fff159;
    padding: 0;
    margin: 0;
    height: 0;
    transition: all 500ms;
    margin-left: -200px;
    }
.nav_menu_visual{
    display: flex;
    grid-column: 1;
    width: 22vh;
    height: 100%;
    position: absolute;
    background: #fff;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 0.5vh #000;
    transition: all 500ms; 

    }
 .nav_menu_visual h3{
     width: 100%;
     background: #2f3476;
     color: #fff;
     margin: 0;
     margin-bottom: 1vh;
     padding: 1vh 0;
     text-align: center;
}
 .nav_menu_visual a{
     display: flex;
     width: 80%;
     margin: 1vh auto 1vh auto;
     padding: 1vh 0.5vh;
     text-decoration: none;
     text-align: center;
     background-color: #2f3476;
     color: #fff;
     font-size: 2vh;
     border-bottom: #2f3476 solid 1px;
 }
 .nav_menu_visual i{
     font-size: 2.5vh;
     margin: auto 0.5vh auto 1vh;
     color: #fff;
}
.fondo{
    width: 100%;
    height: 100%;
    background: #eee;

}
.Aviso{
    margin:0 auto auto auto;
    width: 100%;
    font-size: 5vh;
    text-align: center;
    background: #2f3476;
    color: #fff;
    border:2px solid #eee;
}

table{
    width: 99%;
    background: #fff;
    margin:1vh auto;
    justify-content: space-between;
    text-align: center;
    border-collapse: collapse;
}
table thead{
    background: #ddd;
    color: rgb(36, 35, 35);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8vh;
}
table thead th{
    padding: 0.5vh 0.3vh;
}
table tbody tr{
    border-bottom: 1px solid #ddd;
}
table tbody tr td{
    padding: 0.5vh 0.3vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.85vh;
}
table tbody tr td .edit{

    color: rgb(74, 219, 30);

}
table tbody tr td .delete{
    color: rgb(248, 18, 10);

}
.before,
.after,
.Pag{
    background: #fff;
    color: #2f3476;
}
.before{
    font-size: 3vh;
    margin-left: 3vh;
    padding:0.25vh 0.5vh ;
    background: #eee;
    border: 1px solid #ddd;
}
.after{
    font-size: 3vh;
    margin-right: 3vh;
    padding:0.25vh 0.5vh ;
    background: #eee;
    border: 1px solid #ddd;
}
.after:hover,
.before:hover{
    color: #bebfe2;
}

.accordion {
    background-color: #2f3476;
    color: #fff;
    cursor: pointer;
    width: 100%;
    padding: 5px 0;
    margin-bottom: 10px;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .nav_menu_visual i:hover,
  .nav_menu_visual a:hover,
  .active,
  .accordion:hover {
    background-color: #bebfe2;
    color: #2f3476;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 20px 0;
    background-color: white;
    display: none;
    transition: max-height 0.2s ease-out;
  }
  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #fff;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    font-size: 13px;
    color: #fff;
    float: right;
    margin-left: 5px;
  }
