{% extends 'nav.html'%}
{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
{% endblock %}
{% block titulo %}
<title>Comerrcial Carrier</title>
{% endblock %}
    {% block body%}
        <div class="fondo">
        <section>
            <div class="user"><i class="far fa-user"></i>
                <h1>¡Hola! </h1><h3>{{Datos['FullName']}}</h3>
                </div>
        </section>
        <div class="container_form">
                {%if Datos['Rango'] == 'Representante' and Datos['FcName'] == 'Fulfillment' or Datos['Rango'] == 'Auxiliar' and Datos['FcName'] == 'Fulfillment' or  Datos['Rango'] == 'Team Leader' and Datos['FcName'] == 'Fulfillment' or  Datos['Rango'] == 'Administrador'%}
                        <a href='/f_r_cc' class='Proces_link'><i class="fas fa-truck-loading"></i> Recibo</a>
                {%endif%}
                
    </div>
{% endblock %}