<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" href="{{url_for('static', filename='img/logo.icon')}}"> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/formularios.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@800&display=swap" rel="stylesheet">
    <title>Formulario</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages%}
    {%for message in messages%}
    <script>
        alert('{{message}}')
    </script>
    {%endfor%}
    {%endif%}
    {%endwith%}
    <div class="Nav_Bar">
        <button class="menu"><i class="fab fa-elementor"></i></button>
         <img src="{{url_for('static', filename='img/MercadoLibre_logo.png')}}" alt="Logotipo" class="img_logo">
        <span>{{Datos['FcName']}} : {{Datos['SiteName']}}</span>
        <form action="/form" method="POST">
            {% if Datos['Rango'] == 'Administrador' %}
            <label for="centro_de_Trabajo">
                <select name="centro_de_Trabajo" id="centro_de_Trabajo">
                    <option value="Fullfilment">Fullfilment</option>
                    <option value="Cross Dock">Cross Dock</option>
                    <option value="Service Center">Service Center</option>
                </select>
            </label>
            {%endif%}
            <label for="Formulario">
                <select name="formulario" id="formulario">
                    <option value="Entrada">Entrada</option>
                    <option value="Salida">Salida</option>
                    <option value="prealert">Prealert de Ordenes</option>
                {% if Datos['FcName'] == 'Fullfilment' or Datos['Rango'] == 'Administrador' %}
                    <option value="Entrada_Tranferencias">Entrada Tranferencias</option>
                    <option value="recibo">Recibo</option>
                    <option value="no_procesable">No Procesable</option>
                    <option value="f_a_estatus">Actualizacion de Estatus</option>
                    <option value="planning">Planning</option>
                {% elif Datos['FcName'] == 'Cross Dock' or Datos['Rango'] == 'Planeacion' %}
                    <option value="planning">Planning</option>
                {%endif%}
                </select>
            </label>
            <input type="submit" value="Enviar">
        </form>
    </div>
    <div class="nav_menu">
        <h3 class="t_menu">! Hola {{Datos['FullName']}} ¡</h3>
        {% if Datos['Rango'] == 'Representante' %}
         <a href="/logout" class="link_menu" ><i class="fas fa-power-off"></i>  Cerar sesion</a>
        {% elif Datos['Rango'] == 'Auxiliar'%}
            <a href='/Reportes' class='link_menu'><i class='fas fa-edit'></i>  Reportes</a>
            <a href="/logout" class="link_menu" ><i class="fas fa-power-off"></i>  Cerar sesion</a>
        {% elif Datos['Rango'] == 'Administrador'%}
            <a href='/planeacion' class='link_menu'><i class="fas fa-project-diagram"></i>  Planning</a>
            <a href='/Reportes' class='link_menu'><i class='fas fa-edit'></i>  Reportes</a>
            <a href='/dashboard' class='link_menu'><i class="fas fa-chart-pie"></i>  Dashboard</a>
            <a href='/registro' class='link_menu'><i class="fas fa-users"></i> Registro de Usuarios</a>
            <a href="/logout" class="link_menu" ><i class="fas fa-power-off"></i>  Cerar sesion</a>
        {% elif Datos['Rango'] == 'Planeacion'%}
            <a href='/planeacion' class='link_menu'><i class="fas fa-project-diagram"></i>  Planning</a>
            <a href="/logout" class="link_menu" ><i class="fas fa-power-off"></i> Cerar sesion</a>
        {% elif Datos['Rango'] == 'Team Leader'%}
            <a href='/Reportes' class='link_menu'><i class='fas fa-edit'></i> - Reportes</a>
            <a href='/dashboard' class='link_menu'><i class="fas fa-chart-pie"></i>  Dashboard</a>
            <a href="/logout" class="link_menu" ><i class="fas fa-power-off"></i>  Cerar sesion</a>
        {%endif%}
 
    </div>
        <div class="fondo"></div>
        <section>
            {%if Datos['Formulario'] != None %}
                {%if Datos['FcName'] == 'Service Center' and Datos['Formulario'] == 'Entrada' %}
                    <form action="/registro_svcs_entrada" method="POST" >
                        <h2 class="titulo">Control de Entrada "Pallet/Gaylord" SVC\'s</h2>
                        <h2>Materiales Recibidos</h2>
                        <label for="Pallets_Totales_Recibidos">Pallets Totales Recibidos : <input type="number" name="Pallets_Totales_Recibidos"  placeholder="Pallets Totales Recibidos"required ></label>
                        <label for="Pallets_en_buen_estado">Pallets en buen estado : <input type="number" name="Pallets_en_buen_estado"  placeholder="Pallets en buen estado" required></label>
                        <label for="Pallets_en_mal_estado">Pallets en mal estado: <input type="nomber" name="Pallets_en_mal_estado"  placeholder="Pallets en mal estado" required></label>
                        <label for="Gaylords_Totales_Recibidos">Gaylords Totales Recibidos : <input type="nomber" name="Gaylords_Totales_Recibidos"  placeholder="Gaylords Totales Recibidos" required></label>
                        <label for="Gaylords_en_buen_estado">Gaylords en buen estado : <input type="number" name="Gaylords_en_buen_estado"  placeholder="Gaylords en buen estado" required></label>
                        <label for="Gaylords_en_mal_estado">Gaylords en mal estado: <input type="nomber" name="Gaylords_en_mal_estado"  placeholder="Gaylords en mal estado" required></label>
                        <label for="cajas">Cajas : <input type="nomber" name="cajas"  placeholder="Cajas" required></label>
                        <label for="costales">Costales : <input type="nomber" name="costales"  placeholder="Costales" required></label>
                        <h2>Identifica el Centro de trabajo "Origen"</h2>
                        <label for="Centro_de_Origen">Centro de Origen. : </label>
                            <select name="Centro_de_Origen" required>
                                <option value="Fulfillment">Fulfillment</option>
                                <option value="Cross Dock" >Cross Dock</option>
                            </select>
                        <input type="submit" class="btn" name="enviar" value="enviar" ">
                    </form>
                {%elif Datos['FcName'] == 'Service Center' and Datos['Formulario'] == 'Salida'%}
                    <form action="/registro_svcs_salida" method="POST" >
                        <h2 class="titulo">Control de Salida "Pallet/Gaylord" SVC\'s</h2>
                        <h2>Materiales Enviados</h2>
                        <label for="Tarimas_enviadas">Tarimas : <input type="number" name="Tarimas_enviadas"  placeholder="Tarimas enviadas" required></label>
                        <label for="Gaylord_Enviados">Gaylord : <input type="number" name="Gaylord_Enviados"  placeholder="Gaylord Enviados"required ></label>
                        <label for="cajas">Cajas : <input type="nomber" name="cajas"  placeholder="Cajas" required></label>
                        <label for="costales">Costales : <input type="nomber" name="costales"  placeholder="Costales" required></label>
                        <h2>Identifique Cross Dock "Destino"</h2>
                        <label for="Cross_Dock">Cross Dock : </label>
                        <select name="Cross_Dock" required>
                            <option value="México MXXEM1">Mexíco MXXEM1</option>
                            <option value="Guadalajara MXXGD1" selected>Guadalajara MXXGD1</option>
                            <option value="Monterrey MXXMT1">Monterrey MXXMT1</option>
                            <option value="Culiacán MXXCU1" selected>Culiacán MXXCU1</option>
                            <option value="Mérida MXXMD1">Mérida MXXMD1</option>
                            <option value="Queretaro MXXQR1" selected>Queretaro MXXQR1</option>
                        </select>
                        <input type="submit" class="btn" name="enviar" value="enviar" >
                    </form>
                {%elif  Datos['Formulario'] == 'prealert'%}
                    <form action="/registro_prealert" method="POST" >
                        <h2>Prealert de ordenes</h2>
                            <label for="id_de_envio">ID de envío</label>
                            <input type="text" name="id_de_envio" placeholder="Ingresa el numero de orden"/> 
                            <label for="Codificación">Se codifico como Retorno o Devolución</label>
                            <select name="Codificación">
                                <option value="Si">Si</option>
                                <option value="No">No</option>
                            </select>
                            <label for="Metodo">Metodo de envíos de Retorno</label>
                            <select name="Metodo">
                                <option value="Paqueteria (no unidad de LH)">Paqueteria (no unidad de LH)</option>
                                <option value="Red LH">Red LH</option>
                            </select> 
                            <label for="Facility">Facility origen de salida</label>
                            <select name="Facility">
                                <option value="MXXEM1">MXXEM1</option>
                                <option value="MXXGD1">MXXGD1</option>
                                <option value="MXXMT1">MXXMT1</option>
                                <option value="MXXQR1">MXXQR1</option>
                                <option value="MXXMD1">MXXMD1</option>
                                <option value="MXXHM1">MXXHM1</option>
                                <option value="MXXCH1">MXXCH1</option>
                                <option value="FCD01">FCD01</option>
                                <option value="FCD02">FCD02</option>
                                <option value="FCD03">FCD03</option>
                                <option value="FCD04">FCD04</option>
                                <option value="FCJC01">FCJC01</option>
                                <option value="FCNL01">FCNL01</option>
                            </select> 
                            <label for="Transporte">Empresa transportista</label>
                            <select name="Transporte">
                                <option value="TMS">TMS</option>
                                <option value="Eurologistics">Eurologistics</option>
                            </select>    
                            <label for="Trasportista">Nombre del transportista</label>
                            <input type="text" name="Trasportista" placeholder="Ingresa el nombre"/>
                            <label for="Placas">Placas del tracto</label>
                            <input type="text" name="Placas" placeholder="Ingresa el numero de Placas"/> 
                            <label for="Sello">Numero de marchamo</label>
                            <input type="text" name="Sello" placeholder="Ingresa el numero del marchamo"/>
                        <input type="submit" class="btn" name="enviar" value="enviar" >
                    </form>
                {%elif Datos['FcName'] == 'Fullfilment' and Datos['Formulario'] == 'Entrada'%}
                    <form action="/registro_fcs_entrada" method="POST" >
                        <h2 class="titulo">Control de Entrada "Pallet/Gaylord" FC\'s</h2>
                        <h2>Materiales Recibidos</h2>
                        <label for="Pallets_Totales_Recibidos">Pallets Totales Recibidos : <input type="number" name="Pallets_Totales_Recibidos"  placeholder="Pallets Totales Recibidos"required ></label>
                        <label for="Pallets_en_buen_estado">Pallets en buen estado : <input type="number" name="Pallets_en_buen_estado"  placeholder="Pallets en buen estado" required></label>
                        <label for="Pallets_en_mal_estado">Pallets en mal estado: <input type="nomber" name="Pallets_en_mal_estado"  placeholder="Pallets en mal estado" required></label>
                        <label for="Gaylords_Totales_Recibidos">Gaylords Totales Recibidos : <input type="nomber" name="Gaylords_Totales_Recibidos"  placeholder="Gaylords Totales Recibidos" required></label>
                        <label for="Gaylords_en_buen_estado">Gaylords en buen estado : <input type="number" name="Gaylords_en_buen_estado"  placeholder="Gaylords en buen estado" required></label>
                        <label for="Gaylords_en_mal_estado">Gaylords en mal estado: <input type="nomber" name="Gaylords_en_mal_estado"  placeholder="Gaylords en mal estado" required></label>
                        <label for="cajas">Cajas : <input type="nomber" name="cajas"  placeholder="Cajas" required></label>
                        <label for="costales">Costales : <input type="nomber" name="costales"  placeholder="Costales" required></label>
                        <h2>Identifica el FC\'s</h2>
                        <h2>Identifique centro de trabajo Origen.</h2>
                        <label for="Centro_de_trabajo_origen">Centro de trabajo origen : </label>
                        <select name="Centro_de_trabajo_origen" required>
                            <option value="N/A">N/A</option>
                            <option value="Cross Dock">Cross Dock</option>
                            <option value="Service Center" selected>Service Center</option>
                        </select>
                        <h2>Identifique Cross Dock "Origen"</h2>
                        <label for="Cross_Dock_origen">Cross Dock origen : </label>
                        <select name="Cross_Dock_origen" required>
                            <option value="N/A">N/A</option>
                            <option value="México MXXEM1">Mexico MXXEM1</option>
                            <option value="Guadalajara MXXGD1" >Guadalajara MXXGD1</option>
                            <option value="Monterrey MXXMT1">Monterrey MXXMT1</option>
                            <option value="Culiacán MXXCU1"> Culiacán MXXCU1</option>
                            <option value="Mérida MXXMD1" >Mérida MXXMD1</option>
                        </select>
                        <h2>Identifique Service Center "Origen"</h2>
                        <label for="Service_Center_Origen">Service Center Origen : </label>
                        <select name="Service_Center_Origen" required>
                            <option value="N/A">N/A</option>
                            <option value="Aeropuerto">Aeropuerto</option>
                            <option value="SVC DHL">SVC DHL</option>
                            <option value="SVC FedEx">SVC FedEx</option>
                            <option value="SVC Estafeta">SVC Estafeta</option>
                            <option value="SVC Paquete Express">SVC Paquete Express</option>
                            <option value="SVC 99 Minutos">SVC 99 Minutos</option>
                            <option value="Acapulco  SGR1">Acapulco  SGR1</option>
                            <option value="Aguascalientes  SAG1">Aguascalientes  SAG1</option>
                            <option value="Cancun  SCN1">Cancun  SCN1</option>
                            <option value="Campeche SCP1">Campeche SCP1</option>
                            <option value="CDMX2  SMX2">CDMX2  SMX2</option>
                            <option value="CDMX3  SMX3">CDMX3  SMX3</option>
                            <option value="CDMX4  SMX4">CDMX4  SMX4</option>
                            <option value="CDMX5  SMX5">CDMX5  SMX5</option>
                            <option value="CDMX6  SMX6">CDMX6  SMX6</option>
                            <option value="Celaya SCY1">Celaya SCY1</option>
                            <option value="Ciudad Victoria SVM1">Ciudad Victoria SVM1</option>
                            <option value="Chihuahua  SCH1">Chihuahua  SCH1</option>
                            <option value="Ciudad Juarez  SCJ1">Ciudad Juarez  SCJ1</option>
                            <option value="Coatzacoalcos SCT1">Coatzacoalcos SCT1</option>
                            <option value="Colima  SCQ1">Colima  SCQ1</option>
                            <option value="Cuernavaca  SCV1">Cuernavaca  SCV1</option>
                            <option value="Culiacan  SCU1">Culiacan  SCU1</option>
                            <option value="Durango  SDG1">Durango  SDG1</option>
                            <option value="Guadalajara  SGD1">Guadalajara  SGD1</option>
                            <option value="Guadalajara 2 SGD2">Guadalajara 2 SGD2</option>
                            <option value="Guerrero SGR1">Guerrero SGR1</option>
                            <option value="Hermosillo  SHM1">Hermosillo  SHM1</option>
                            <option value="Irapuato SBJ1">Irapuato SBJ1</option>
                            <option value="La Paz  SLP1">La Paz  SLP1</option>
                            <option value="Lázaro Cárdenas SLZ1">Lázaro Cárdenas SLZ1</option>
                            <option value="Leon  SLE1">Leon  SLE1</option>
                            <option value="Los Mochis  SMO1">Los Mochis  SMO1</option>
                            <option value="Manzanillo  SZL1">Manzanillo  SZL1</option>
                            <option value="Matamoros  SMA1">Matamoros  SMA1</option>
                            <option value="Mazatlan  SMZ1">Mazatlan  SMZ1</option>
                            <option value="Merida  SMD1">Merida  SMD1</option>
                            <option value="Minatitlán SMI1">Minatitlán SMI1</option>
                            <option value="Monterrey  SMT1">Monterrey  SMT1</option>
                            <option value="Monterrey 2 SMT2">Monterrey 2 SMT2</option>
                            <option value="Saltillo  SLW1">Saltillo  SLW1</option>
                            <option value="Morelia  SML1">Morelia  SML1</option>
                            <option value="Nuevo Laredo  SNL1">Nuevo Laredo  SNL1</option>
                            <option value="Oaxaca  SOX1">Oaxaca  SOX1</option>
                            <option value="Pachuca  SHP1">Pachuca  SHP1</option>
                            <option value="Poza Rica  SPZ1">Poza Rica  SPZ1</option>
                            <option value="Puebla  SPB1">Puebla  SPB1</option>
                            <option value="Puerto Vallarta  SPV1">Puerto Vallarta  SPV1</option>
                            <option value="Queretaro  SQR1">Queretaro  SQR1</option>
                            <option value="Reynosa  SRX1">Reynosa  SRX1</option>
                            <option value="San Luis  SSL1">San Luis  SSL1</option>
                            <option value="Tamaulipas  STA1">Tamaulipas  STA1</option>
                            <option value="Tepic  STN1">Tepic  STN1</option>
                            <option value="Tijuana  STJ1">Tijuana  STJ1</option>
                            <option value="Toluca  STL1">Toluca  STL1</option>
                            <option value="Zacatecas  SZC1">Zacatecas  SZC1</option>
                            <option value="Torreon  STR1">Torreon  STR1</option>
                            <option value="Tuxtla Gutierrez  STG1">Tuxtla Gutierrez  STG1</option>
                            <option value="Veracruz  SVR1">Veracruz  SVR1</option>
                            <option value="Villa Hermosa  SVH1">Villa Hermosa  SVH1</option>
                            <option value="Xalapa SJA1">Xalapa SJA1</option>
                            <option value="Córdoba SDC1">Córdoba SDC1</option>
                            <option value="Piedra Negra SPD1">Piedra Negra SPD1</option>
                            <option value="Mexicali SXL1">Mexicali SXL1</option>
                            <option value="Ciudad Obregón SCE1">Ciudad Obregón SCE1</option>
                            <option value="Los Cabos SJD1">Los Cabos SJD1</option>
                            <option value="Tapachula "STP1">Tapachula "STP1</option>
                            <option value="Monclova">Monclova</option>
                        </select>
                        <input type="submit" class="btn" name="enviar" value="enviar" >
                    </form>
                {%elif Datos['FcName'] == 'Fullfilment' and Datos['Formulario'] == 'Salida'%}
                    <form action="/registro_fcs_salida" method="POST">
                        <h2 class="titulo">Control de Salida "Pallet/Gaylord" FC\'s</h2>
                        <h2>Materiales Enviados</h2>
                        <label for="Tarimas_enviadas">Tarimas : <input type="number" name="Tarimas_enviadas"  placeholder="Tarimas enviadas" required></label>
                        <label for="Gaylord_Enviados">Gaylord : <input type="number" name="Gaylord_Enviados"  placeholder="Gaylord Enviados"required ></label>
                        <label for="cajas">Cajas : <input type="nomber" name="cajas"  placeholder="Cajas" required></label>
                        <label for="costales">Costales : <input type="nomber" name="costales"  placeholder="Costales" required></label>
                        <h2>Identifique centro de trabajo "Destino"</h2>
                        <label for="centro_de_trabajo_Destino">Identifique centro de trabajo "Destino" : </label>
                        <select name="centro_de_trabajo_Destino" required>
                            <option value="Service Center">Service Center</option>
                            <option value="Fulfillment" >Fulfillment</option>
                        </select>
                        <h2>Identifique Service Center "Destino"</h2>
                        <label for="Service_Center">Service Center : </label>
                        <select name="Service_Center" required>
                            <option value="N/A" selected> N/A</option>
                            <option value="Aéreo _A" >Aéreo _A</option>
                            <option value="SVC DHL" >SVC DHL</option>
                            <option value="SVC FedEx" >SVC FedEx</option>
                            <option value="SVC Estafeta" >SVC Estafeta</option>
                            <option value="SVC Paquete Express" >SVC Paquete Express</option>
                            <option value="SVC 99 Minutos" >SVC 99 Minutos</option>
                            <option value="Aguascalientes SAG1" >Aguascalientes SAG1</option>
                            <option value="Cancun SCN1" >Cancun SCN1</option>
                            <option value="Campeche SCP1" >Campeche SCP1</option>
                            <option value="CDMX1 SMX1" >CDMX1 SMX1</option>
                            <option value="CDMX2 SMX2" >CDMX2 SMX2</option>
                            <option value="CDMX3 SMX3" >CDMX3 SMX3</option>
                            <option value="CDMX4 SMX4" >CDMX4 SMX4</option>
                            <option value="CDMX5 SMX5" >CDMX5 SMX5</option>
                            <option value="CDMX6 SMX6" >CDMX6 SMX6</option>
                            <option value="CDMX7 SMX7" >CDMX7 SMX7</option>
                            <option value="Celaya SCY1" >Celaya SCY1</option
                            <option value="Ciudad Juarez SCJ1" >Ciudad Juarez SCJ1</option>
                            <option value="Ciudad Obregón SCE1" >Ciudad Obregón SCE1</option>
                            <option value="Ciudad Victoria SVM1" >Ciudad Victoria SVM1</option>
                            <option value="Chihuahua  SCH1" >Chihuahua  SCH1</option>
                            <option value="Coatzacoalcos SCT1" >Coatzacoalcos SCT1</option>
                            <option value="Colima  SCQ1" >Colima  SCQ1</option>
                            <option value="Córdoba SDC1" >Córdoba SDC1</option>
                            <option value="Cuernavaca  SCV1" >Cuernavaca  SCV1</option>
                            <option value="Culiacan  SCU1" >Culiacan  SCU1</option>
                            <option value="Durango  SDG1" >Durango  SDG1</option>
                            <option value="Guadalajara  SGD1" >Guadalajara  SGD1</option>
                            <option value="Guadalajara 2 SGD2" >Guadalajara 2 SGD2</option>
                            <option value="Guerrero  SGR1" >Guerrero  SGR1</option>
                            <option value="Hermosillo  SHM1" >Hermosillo  SHM1</option>
                            <option value="Irapuato SBJ1" >Irapuato SBJ1</option>
                            <option value="La Paz  SLP1" >La Paz  SLP1</option>
                            <option value="Lázaro Cárdenas SLZ1" >Lázaro Cárdenas SLZ1</option>
                            <option value="Leon  SLE1" >Leon  SLE1</option>
                            <option value="Los Cabos SJD1" >Los Cabos SJD1</option>
                            <option value="Los Mochis  SMO1" >Los Mochis  SMO1</option>
                            <option value="Manzanillo  SZL1" >Manzanillo  SZL1</option>
                            <option value="Matamoros  SMA1" >Matamoros  SMA1</option>
                            <option value="Mazatlan  SMZ1" >Mazatlan  SMZ1</option>
                            <option value="Merida  SMD1" >Merida  SMD1</option>
                            <option value="Mexicali SXL1" >Mexicali SXL1</option>
                            <option value="Minatitlán SMI1" >Minatitlán SMI1</option>
                            <option value="Monclova SLV1" >Monclova SLV1</option>
                            <option value="Monterrey  SMT1" >Monterrey  SMT1</option>
                            <option value="Monterrey 2 SMT2" >Monterrey 2 SMT2</option>
                            <option value="Morelia  SML1" >Morelia  SML1</option>
                            <option value="Nuevo Laredo  SNL1" >Nuevo Laredo  SNL1</option>
                            <option value="Oaxaca  SOX1" >Oaxaca  SOX1</option>
                            <option value="Pachuca  SHP1" >Pachuca  SHP1</option>
                            <option value="Poza Rica  SPZ1" >Poza Rica  SPZ1</option>
                            <option value="Puebla  SPB1" >Puebla  SPB1</option>
                            <option value="Piedra Negra SPD1" >Piedra Negra SPD1</option>
                            <option value="Puerto Vallarta  SPV1" >Puerto Vallarta  SPV1</option>
                            <option value="Queretaro  SQR1" >Queretaro  SQR1</option>
                            <option value="Reynosa  SRX1" >Reynosa  SRX1</option>
                            <option value="Saltillo  SLW1" >Saltillo  SLW1</option>
                            <option value="San Luis  SSL" >San Luis  SSL</option>
                            <option value="Tamaulipas  STA1" >Tamaulipas  STA1</option>
                            <option value="Tapachula STP1" >Tapachula STP1</option>
                            <option value="Tepic  STN1" >Tepic  STN1</option>
                            <option value="Tijuana  STJ1" >Tijuana  STJ1</option>
                            <option value="Toluca  STL1" >Toluca  STL1</option>
                            <option value="Torreon  STR1" >Torreon  STR1</option>
                            <option value="Tuxtla Gutierrez  STG1" >Tuxtla Gutierrez  STG1</option>
                            <option value="Veracruz  SVR1" >Veracruz  SVR1</option>
                            <option value="Villa Hermosa  SVH1" >Villa Hermosa  SVH1</option>
                            <option value="Xalapa SJA1" >Xalapa SJA1</option>
                            <option value="Zacatecas  SZC1" >Zacatecas  SZC1</option>
                        </select><br>
                        <h2>Identifique FC "Destino"</h2>
                        <label for="FC_Destino">FC Destino : </label>
                        <select name="FC_Destino" required>
                            <option value="N/A" selected> N/A</option>
                            <option value="Odonnell">O'donnell</option>
                            <option value="Prologis" >Prologis</option>
                            <option value="Mega Parck">Mega Parck</option>
                            <option value="Monterrey">Monterrey</option>
                            <option value="Guadalajara">Guadalajara</option>
                        </select>
                        <input type="submit" class="btn" name="enviar" value="enviar" >
                    </form>                
                {%elif Datos['FcName'] == 'Fullfilment' and Datos['Formulario'] == 'Entrada_Tranferencias'%}
                    <form action="/registro_fcs_tranfer" method="POST" >
                        <h2 class="titulo">Control de Entrada Tranferencias "Pallet/Gaylord" FC\'s</h2>
                        <h2>Materiales recibidos T.</h2>
                        <label for="Pallets">Pallets : <input type="number" name="Pallets"  placeholder="Pallets"required ></label>
                        <h2>Identifique Fulfilment "Origen"</h2>
                        <label for="Fulfillment_origen">Fulfillment origen : </label>
                        <select name="Fulfillment_origen" required>
                            <option value="Odonnell" >O'donnell</option>
                            <option value="Prologis" >Prologis</option>
                            <option value="Guadalajara" >Guadalajara</option>
                            <option value="Monterrey" >Monterrey</option>
                        </select>
                        <input type="submit" class="btn" name="enviar" value="enviar" >
                    </form>
                {%elif Datos['FcName'] == 'Fullfilment' and Datos['Formulario'] == 'recibo'%}
                    <form action="/registro_fcs_recibo" method="POST" >
                        <h2 class="titulo">Entregas no efectivas</h2>
                        <label for="paquetera">Paquetera: </label>
                        <select name="paquetera" required>
                            <option value="Mercado Envíos">Mercado Envíos</option>
                            <option value="DHL">DHL</option>
                            <option value="Estafeta">Estafeta</option>
                            <option value="Paquetexpress">Paquetexpress</option>
                            <option value="FedEx">FedEx</option>
                            <option value="99 minutos">99 minutos</option>
                        </select>
                        <label for="no_gia">No. de Guia: <input type="number" name="no_gia"   required></label>
                        <label for="no_paquete">No. Paquete: <input type="number" name="no_paquete"  required ></label>
                        <label for="tipo_paquete">Tipo de Paquete: </label>
                        <select name="tipo_paquete" required>
                            <option value="Reotorno">Reotorno</option>
                            <option value="Devolcuión">Devolcuión</option>
                        </select>
                        <label for="estatus">Estatus: </label>
                        <select name="estatus" required>
                            <option value="Aceptado">Aceptado</option>
                            <option value="Rechazado">Rechazado</option>
                        </select>
                        <label for="razon_rechazo">Razon de Rechazo: </label>
                        <select name="razon_rechazo" required>
                            <option value="N/A">N/A</option>
                            <option value="Dañado">Dañado</option>
                            <option value="Extracción">Extracción</option>
                            <option value="Otro FC">Otro FC</option>
                            <option value="Drop off / cross dosck">Drop off / cross dosck</option>
                        </select>
                        <input type="submit" class="btn" name="enviar" value="enviar" >
                    </form>
                {%elif Datos['FcName'] == 'Fullfilment' and Datos['Formulario'] == 'no_procesable'%}
                    <form action="/registro_ordenes" method="POST" >
                        <h2>Ordenes no procesables</h2>
                            <label for="Paquetera">Carrier que entrega</label>
                            <select name="Paquetera">
                                <option value="99 Minutos">99 Minutos</option>
                                <option value="DHL">DHL</option>
                                <option value="Estafeta">Estafeta</option>
                                <option value="FedEx">FedEx</option>
                                <option value="Mercado Envíos">Mercado Envíos</option>
                                <option value="Paquete Express">Paquete Express</option>
                            </select>
                            <label for="orden">Orden de compra</label>
                            <input type="text" name="orden" placeholder="Ingresa el numero de orden">
                            <label for="Pallet">Pallet PS</label>
                            <input type="text" name="Pallet" placeholder="Ingresa el numero de pallet PS">  
                            <label for="Tipo">Tipo de orden</label>
                            <select name="Tipo">
                                <option value="Retorno">Retorno</option>
                                <option value="Devolución">Devolución</option>
                            </select>
                            <label for="Estatus">Estatus</label>
                            <select name="Estatus">
                                <option value="Cancelado">Cancelado</option>
                                <option value="Document">Document</option>
                                <option value="Null">Null</option>
                                <option value="Orden con doble BPP">Orden con doble BPP</option>
                                <option value="Paquete vacio al arribo">Paquete vacio al arribo</option>
                            </select>
                            <label for="Service_Center">Service Center</label>
                            <select name="Service_Center">
                                <option value="SAG1">SAG1</option>
                                <option value="STJ1">STJ1</option>
                                <option value="SLP1">SLP1</option>
                                <option value="STG1">STG1</option>
                                <option value="SCJ1">SCJ1</option>
                                <option value="SCH1">SCH1</option>
                                <option value="SMX2">SMX2</option>
                                <option value="SMX1">SMX1</option>
                                <option value="SMX3">SMX3</option>
                                <option value="SMX5">SMX5</option>
                                <option value="SMX4">SMX4</option>
                                <option value="SMX6">SMX6</option>
                                <option value="STR1">STR1</option>
                                <option value="SCQ1">SCQ1</option>
                                <option value="SZL1">SZL1</option>
                                <option value="SDG1">SDG1</option>
                                <option value="SHP1">SHP1</option>
                                <option value="SLE1">SLE1</option>
                                <option value="SGR1">SGR1</option>
                                <option value="SGD1">SGD1</option>
                                <option value="STL1">STL1</option>
                                <option value="SML1">SML1</option>
                                <option value="SCV1">SCV1</option>
                                <option value="SPV1">SPV1</option>
                                <option value="STN1">STN1</option>
                                <option value="SOX1">SOX1</option>
                                <option value="SPB1">SPB1</option>
                                <option value="SQR1">SQR1</option>
                                <option value="SCN1">SCN1</option>
                                <option value="SSL1">SSL1</option>
                                <option value="SCU1">SCU1</option>
                                <option value="SMZ1">SMZ1</option>
                                <option value="SMO1">SMO1</option>
                                <option value="SHM1">SHM1</option>
                                <option value="SVH1">SVH1</option>
                                <option value="SVR1">SVR1</option>
                                <option value="SPZ1">SPZ1</option>
                                <option value="SMD1">SMD1</option>
                                <option value="SZC1">SZC1</option>
                                <option value="SLP1_A">SLP1_A</option>
                                <option value="SMZ1_A">SMZ1_A</option>
                                <option value="SCN1_A">SCN1_A</option>
                                <option value="SMX3_S">SMX3_S</option>
                                <option value="STJ1_A">STJ1_A</option>
                                <option value="SCU1_A">SCU1_A</option>
                                <option value="SMO1_A">SMO1_A</option>
                                <option value="SHM1_A">SHM1_A</option>
                                <option value="SCJ1_A">SCJ1_A</option>
                                <option value="SMD1_A">SMD1_A</option>
                                <option value="SMX1_S">SMX1_S</option>
                                <option value="SCH1_A">SCH1_A</option>
                                <option value="SMX4_S">SMX4_S</option>
                                <option value="SMX5_S">SMX5_S</option>
                                <option value="SMX2_S">SMX2_S</option>
                                <option value="SMX6_S">SMX6_S</option>
                                <option value="slw1">slw1</option>
                                <option value="smt1">smt1</option>
                                <option value="srx1">srx1</option>
                                <option value="sma1">sma1</option>
                                <option value="sta1">sta1</option>
                                <option value="snl1">snl1</option>
                                <option value="99MLM">99MLM</option>
                                <option value="DHLSU2">DHLSU2</option>
                                <option value="DHLJC1">DHLJC1</option>
                                <option value="ESTMLM">ESTMLM</option>
                                <option value="FDXXS2">FDXXS2</option>
                                <option value="FDXSO1">FDXSO1</option>
                                <option value="PQXMLM">PQXMLM</option>
                                <option value="SG2">SG2</option>
                                <option value="SJA1">SJA1</option>
                                <option value="SCT1">SCT1</option>
                                <option value="SMI1">SMI1</option>
                                <option value="SBJ1">SBJ1</option>
                                <option value="SVM1">SVM1</option>
                                <option value="SMT2">SMT2</option>
                                <option value="SMX7">SMX7</option>
                                <option value="SMX7_S">SMX7_S</option>
                                <option value="SDC1">SDC1</option>
                                <option value="SCP1">SCP1</option>
                                <option value="SCP1_A">SCP1_A</option>
                                <option value="STP1">STP1</option>
                                <option value="STR1_A">STR1_A</option>
                                <option value="SPD1">SPD1</option>
                                <option value="SXL1">SXL1</option>
                                <option value="SCE1">SCE1</option>
                                <option value="SJD1">SJD1</option>
                                <option value="SCY1">SCY1</option>
                                <option value="SLZ1">SLZ1</option>
                                <option value="SGD1_S">SGD1_S</option>
                                <option value="SGD2_S">SGD2_S</option>
                                <option value="SMT1_S">SMT1_S</option>
                                <option value="SMT2_S">SMT2_S</option>
                                <option value="FedEx">FedEx</option>
                                <option value="DHL">DHL</option>
                                <option value="Estafeta">Estafeta</option>
                                <option value="Paquete Express">Paquete Express</option>
                                <option value="sgd2">sgd2</option>
                                <option value="99 Minutos">99 Minutos</option>
                            </select>
                            <label for="ticket">Numero de ticket</label>
                            <input type="text" name="ticket" placeholder="Ingresa el # de ticket"/>
                            <label for="fechatiket">Fecha del levantamiento de ticket</label>
                            <input type="date" name="fechatiket" placeholder="Ingresa la fecha del ticket"/>
                        <input type="submit" class="btn" name="enviar" value="enviar" >
                    </form>
                {%elif Datos['FcName'] == 'Fullfilment' and Datos['Formulario'] == 'f_a_estatus'%}
                    <form action="/estatus_ordenes" method="POST" >
                        <h2> Actualizacion de Estatus Ordenes no procesables</h2>
                            <label for="orden">Orden de compra</label>
                            <input type="text" name="orden" placeholder="Ingresa el numero de orden">
                        <input type="submit" class="btn" name="enviar" value="enviar" >
                    </form>
                {%elif Datos['FcName'] == 'Fullfilment' and Datos['Formulario'] == 'planning'%}
                    <form action="/planning" method="POST" >
                        <h2 class="titulo">Panning</h2>
                        <label for="id_planing">ID Planning : <input type="nomber" name="id_planing"  required></label>
                        <input type="submit" class="btn" name="enviar" value="enviar" >
                    </form>
                {%elif Datos['FcName'] == 'Cross Dock' and Datos['Formulario'] == 'Entrada'%}
                    <form action="/registro_xd_entrada" method="POST" >
                        <h2 class="titulo">Control de Entradas "Pallet/Gaylord" XD</h2> 
                        <h2>Mteriales Recibidos</h2>
                        <label for="Total_tarimas ">Total tarimas  : <input type="number" name="Total_tarimas"  placeholder="Total tarimas"required ></label>
                        <label for="Tarima_en_buen_estado ">Tarima en buen estado  : <input type="number" name="Tarima_en_buen_estado"  placeholder="Tarima en buen estado" required></label>
                        <label for="Tarimas_en_mal_estado">Tarimas en mal estado : <input type="nomber" name="Tarimas_en_mal_estado"  placeholder="Tarimas en mal estado" required></label>
                        <label for="Total_Gaylors">Total Gaylors : <input type="nomber" name="Total_Gaylors"  placeholder="Total Gaylors " required></label>
                        <label for="Gaylors_en_buen_estado">Gaylors en buen estado : <input type="number" name="Gaylors_en_buen_estado"  placeholder="Gaylors en buen estado " required></label>
                        <label for="Gaylors_en_mal_estado">Gaylors en mal estado : <input type="nomber" name="Gaylors_en_mal_estado"  placeholder="Gaylors en mal estado" required></label>
                        <label for="cajas">Cajas : <input type="nomber" name="cajas"  placeholder="Cajas" required></label>
                        <label for="costales">Costales : <input type="nomber" name="costales"  placeholder="Costales" required></label>
                                        <h2 class="titulo">Destino Proveniente</h2>
                        <label for="Destino_Proveniente">Destino Proveniente :</label>
                        <select name="Destino_Proveniente" required>
                            <option value="Service Center">Service Center</option>
                            <option value="Cross Dock">Cross Dock</option>
                        </select>
                        <input type="submit" class="btn" name="enviar" value="enviar" >
                    </form>
                {%elif Datos['FcName'] == 'Cross Dock' and Datos['Formulario'] == 'Salida'%}
                    <form action="/registro_xd_salida" method="POST" >
                        <h2 class="titulo">Control de Salidas "Pallet/Gaylord" XD</h2>
                        <h2>Materiales Enviados</h2>
                        <label for="Tarimas_Enviadas">Tarimas Enviadas : <input type="number" name="Tarimas_Enviadas"  placeholder="Tarimas Enviadas"required ></label>
                        <label for="Gaylord_Enviados">Gaylord Enviados : <input type="number" name="Gaylord_Enviados"  placeholder="Gaylord Enviados" required></label>
                        <label for="cajas">Cajas : <input type="nomber" name="cajas"  placeholder="Cajas" required></label>
                        <label for="costales">Costales : <input type="nomber" name="costales"  placeholder="Costales" required></label>
                        <h2 class="titulo">Destino </h2>
                        <label for="Destino_de_la_carga">Destino de la carga :</label>
                        <select name="Destino_de_la_carga" required>
                            <option value="Fulfillment">Fulfillment</option>
                            <option value="Service Center">Service Center</option>
                        </select>
                        <h2 class="titulo">SVC</h2>
                        <label for="Service_Center">Service Center :</label>
                        <select name="Service_Center" required>
                            <option value="N/A">N/A</option>
                            <option value="SVC DHL">SVC DHL</option>
                            <option value="SVC FedEx">SVC FedEx</option>
                            <option value="SVC Estafeta">SVC Estafeta</option>
                            <option value="SVC Paquete Express">SVC Paquete Express</option>
                            <option value="SVC 99 Minutos">SVC 99 Minutos</option>
                            <option value="Aguascalientes  SAG1">Aguascalientes  SAG1</option>
                            <option value="Cancun  SCN1">Cancun  SCN1</option>
                            <option value="Campeche SCP1">Campeche SCP1</option>
                            <option value="CDMX1  SMX1">CDMX1  SMX1</option>
                            <option value="CDMX2  SMX2">CDMX2  SMX2</option>
                            <option value="CDMX3  SMX3">CDMX3  SMX3</option>
                            <option value="CDMX4  SMX4">CDMX4  SMX4</option>
                            <option value="CDMX5  SMX5">CDMX5  SMX5</option>
                            <option value="CDMX6  SMX6">CDMX6  SMX6</option>
                            <option value="CDMX7  SMX7">CDMX7  SMX7</option>
                            <option value="Celaya SCY1">Celaya SCY1</option>
                            <option value="Ciudad Victoria SVM1">Ciudad Victoria SVM1</option>
                            <option value="Chihuahua  SCH1">Chihuahua  SCH1</option>
                            <option value="Ciudad Juarez  SCJ1">Ciudad Juarez  SCJ1</option>
                            <option value="Coatzacoalcos SCT1">Coatzacoalcos SCT1</option>
                            <option value="Colima  SCQ1">Colima  SCQ1</option>
                            <option value="Cuernavaca  SCV1">Cuernavaca  SCV1</option>
                            <option value="Culiacan  SCUL">Culiacan  SCUL</option>
                            <option value="Durango  SDG1">Durango  SDG1</option>
                            <option value="Guadalajara  SGD1">Guadalajara  SGD1</option>
                            <option value="Guadalajara 2 SGD2">Guadalajara 2 SGD2</option>
                            <option value="Guerrero  SGR1">Guerrero  SGR1</option>
                            <option value="Hermosillo  SHM1">Hermosillo  SHM1</option>
                            <option value="Irapuato SBJ1">Irapuato SBJ1</option>
                            <option value="La Paz  SLP1">La Paz  SLP1</option>
                            <option value="Leon  SLE1">Leon  SLE1</option>
                            <option value="Los Mochis  SMO1">Los Mochis  SMO1</option>
                            <option value="Manzanillo  SZL1">Manzanillo  SZL1</option>
                            <option value="Matamoros  SMA1">Matamoros  SMA1</option>
                            <option value="Mazatlan  SMZ1">Mazatlan  SMZ1</option>
                            <option value="Merida  SMD1">Merida  SMD1</option>
                            <option value="Minatitlán SMI">Minatitlán SMI</option>
                            <option value="Monterrey  SMT1">Monterrey  SMT1</option>
                            <option value="Monterrey 2 SMT2">Monterrey 2 SMT2</option>
                            <option value="Saltillo  SLW1">Saltillo  SLW1</option>
                            <option value="Morelia  SML1">Morelia  SML1</option>
                            <option value="Nuevo Laredo  SNL1">Nuevo Laredo  SNL1</option>
                            <option value="Oaxaca  SOX1">Oaxaca  SOX1</option>
                            <option value="Pachuca  SHP1">Pachuca  SHP1</option>
                            <option value="Poza Rica  SPZ1">Poza Rica  SPZ1</option>
                            <option value="Puebla  SPB1">Puebla  SPB1</option>
                            <option value="Puerto Vallarta  SPV1">Puerto Vallarta  SPV1</option>
                            <option value="Queretaro  SQR1">Queretaro  SQR1</option>
                            <option value="Reynosa  SRX1">Reynosa  SRX1</option>
                            <option value="San Luis  SSL1">San Luis  SSL1</option>
                            <option value="Tamaulipas  STA1">Tamaulipas  STA1</option>
                            <option value="Tepic  STN1">Tepic  STN1</option>
                            <option value="Tijuana  STJ1">Tijuana  STJ1</option>
                            <option value="Toluca  STL1">Toluca  STL1</option>
                            <option value="Torreon  STR1">Torreon  STR1</option>
                            <option value="Tuxtla Gutierrez  STG1">Tuxtla Gutierrez  STG1</option>
                            <option value="Veracruz  SVR1">Veracruz  SVR1</option>
                            <option value="VillaHermosa  SVH1">VillaHermosa  SVH1</option>
                            <option value="Xalapa SJA1">Xalapa SJA1</option>
                            <option value="Zacatecas  SZC1">Zacatecas  SZC1</option>
                            <option value="Lázaro Cárdenas SLZ1">Lázaro Cárdenas SLZ1</option>
                            <option value="Córdoba SDC1">Córdoba SDC1</option>
                            <option value="Piedra Negra SPD1">Piedra Negra SPD1</option>
                            <option value="Mexicali SXL1">Mexicali SXL1</option>
                            <option value="Ciudad Obregón SCE1">Ciudad Obregón SCE1</option>
                            <option value="Los Cabos SJD1">Los Cabos SJD1</option>
                            <option value="Aéreo _A">Aéreo _A</option>
                        </select>
                        <h2 class="titulo">Identifique Fulfillment "Destino"</h2>
                        <label for="Fulfillment">Fulfillment :</label>
                        <select name="Fulfillment" required>
                            <option value="N/A">N/A</option>
                            <option value="Odonnell">O'donnell</option>
                            <option value="Prologis">Prologis</option>
                            <option value="Guadalajara">Guadalajara</option>
                            <option value="Monterrey">Monterrey</option>
                            <option value="Mega parck">Mega parck</option>
                        </select>
                        <input type="submit" class="btn" name="enviar" value="enviar" >
                    </form>                
                {%elif Datos['FcName'] == 'Cross Dock' and Datos['Formulario'] == 'planning'%}
                    <form action="/planning" method="POST" >
                        <h2 class="titulo">Panning</h2>
                        <label for="id_planing">ID Planning : <input type="nomber" name="id_planing"  required></label>
                        <label for="marchamo">No Marchamo : <input type="nomber" name="marchamo"  required></label>
                        <label for="marchamo2">No Segundo Marchamo : <input type="nomber" name="marchamo2"  required></label>
                        <input type="submit" class="btn" name="enviar" value="enviar" >
                    </form>
               {%endif%}
            {%else %}
            <h3 class="Aviso">Seleciona Un Formulario</h5>
            {%endif%}
        </section>
    <script src="/static/Js/interfas.js">
    </script>

</body>
</html>
