{% extends 'nav.html'%}
{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
{% endblock %}
{% block titulo %}
<title>Home</title>
{% endblock %}
{% block body%}
        <div class="fondo">
        <section>
            <div class="user"><i class="far fa-user"></i>
                <h1>¡Hola! </h1><h3>{{Datos['FullName']}}</h3>
                </div>
        </section>
        <div class="container_form">
                        <a href='/insumos' class='Proces_link'><i class="fas fa-pallet"></i> Insumos</a>
                {%if  Datos['Rango'] != 'Planning' %}
                        <a href='/paquetes' class='Proces_link'><i class="fas fa-cubes"></i> Paquetes</a>
                {%endif%}
        </div>
    </div>
{% endblock %}