{% extends 'nav.html'%}
{% block cabezera%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" href="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.10.0/mercadolibre/favicon.svg"> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    <link href="//db.onlinewebfonts.com/c/69f1400361a215519d385199118a34aa?family=Harabara" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/nav.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@800&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages%}
    {%for message in messages%}
    <script>
        alert('{{message}}')
    </script>
    {%endfor%}
    {%endif%}
    {%endwith%}
    {% endblock %}
    {% block body%}
        <div class="fondo">
        <section>
            <div class="user"><i class="far fa-user"></i>
                <h1>¡Hola! </h1><h3>{{Datos['FullName']}}</h3>
                </div>
        </section>
        <div class="container_form">
                {%if Datos['Rango'] == 'Representante' and Datos['FcName'] == 'Fullfilment' or Datos['Rango'] == 'Auxiliar' and Datos['FcName'] == 'Fullfilment' or  Datos['Rango'] == 'Team Leader' and Datos['FcName'] == 'Fullfilment' or  Datos['Rango'] == 'Administrador'%}
                        <a href='/f_p_f' class='Proces_link'><i class="far fa-calendar-alt"></i>  Planning Full </a>
                {%endif%}
                {%if Datos['Rango'] == 'Representante' and Datos['FcName'] == 'Cross Dock' or Datos['Rango'] == 'Auxiliar' and Datos['FcName'] == 'Cross Dock' or  Datos['Rango'] == 'Team Leader' and Datos['FcName'] == 'Cross Dock' or  Datos['Rango'] == 'Administrador'%}
                        <a href='/f_p_xd' class='Proces_link'><i class="fas fa-route"></i>  Planning Cross</a>
                {%endif%}
                {% if Datos['Rango'] == 'Representante' and Datos['FcName'] == 'Service Center' or Datos['Rango'] == 'Auxiliar' and Datos['FcName'] == 'Service Center' or  Datos['Rango'] == 'Team Leader' and Datos['FcName'] == 'Service Center' or  Datos['Rango'] == 'Administrador'%}
                        <a href='/f_e_s' class='Proces_link'><i class="fas fa-pallet"></i>  Recibo Insumos </a>
                        <a href='/f_s_s' class='Proces_link'><i class="fas fa-boxes"></i> Salida Insumos</a>
                {%endif%}
                {% if Datos['Rango'] == 'Planning' or  Datos['Rango'] == 'Administrador'%}
                        <a href='/f_planning' class='Proces_link'><i class="far fa-calendar-alt"></i> Planning</a>
                {%endif%}
        </div>
    </div>
</body>
<script src="{{url_for('static', filename='js/interfas.js')}}">
</script>
</html>
{% endblock %}