{% extends 'nav.html'%}
{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
{% endblock %}
{% block titulo %}
<title>Isumos</title>
{% endblock %}
    {% block body%}
        <div class="fondo">
        <section>
            <div class="user"><i class="far fa-user"></i>
                <h1>¡Hola! </h1><h3>{{Datos['FullName']}}</h3>
                </div>
        </section>
        <div class="container_form">
                {% if Datos['Rango'] == 'Planning' or  Datos['Rango'] == 'Administrador'%}
                        <a href='/f_planning' class='Proces_link'><i class="far fa-calendar-alt"></i> Planning</a>
                {%endif%}
        </div>
    </div>
{% endblock %}