{% extends 'nav.html'%}
{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
{% endblock %}
{% block titulo %}
<title>Problem Solver</title>
{% endblock %}
    {% block body%}
        <div class="fondo">
        <section>
            <div class="user"><i class="far fa-user"></i>
                <h1>¡Hola! </h1><h3>{{Datos['FullName']}}</h3>
                </div>
        </section>
        <div class="container_form">
                        <a href='/f_n_p' class='Proces_link'><i class="fas fa-exclamation"></i>  No Prosesable</a>
                        <a href='/ticket' class='Proces_link'><i class="fas fa-ticket-alt"></i>  Ticket de Orden </a>
                        <a href='/f_a_o' class='Proces_link'><i class="far fa-edit"></i>  Actualizacion N/P</a>
                
        </div>
    </div>
{% endblock %}